<h1>Listing Toy Ages</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @toy_ages.each do |toy_age| %>
      <tr>
        <td><%= toy_age.title %></td>
        <td><%= link_to 'Show', toy_age %></td>
        <td><%= link_to 'Edit', edit_toy_age_path(toy_age) %></td>
        <td><%= link_to 'Destroy', toy_age, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Toy age', new_toy_age_path %>
