<div class="message-reply">
<%= simple_form_for [@exchange], method: :put, url: {action: :reply_message} do |f| %>
  
  <%= f.simple_fields_for :exchange_messages, @exchange.exchange_messages.build do |ff| %>
    <%= ff.hidden_field :user_id, value: current_user.id %>
    <%= ff.hidden_field :user_from, value: current_user.id %>
    <%= ff.hidden_field :user_to, value: ([@exchange.user.id, @exchange.item.user.id] - [current_user.id]).join("").to_i %>
  
    <%= ff.input :message, label: "Mensagem:" %>
  <% end %>

  <%= f.submit "Responder", :class => "btn btn-success" %>
<% end %>
</div>