<div id="reply" class="exchange-reply">

  <div class="request-info">
    <div class="row">
      <div class="col-sm-4">
        <p class="lead">Quem solicitou</p>
        <div class="profile-thumb" style="background-image:url('<%= default_img(@exchange.from_user) %>');float: left;margin-right:15px;"></div>
        <%= link_to @exchange.from_user.name, user_path(@exchange.from_user) %>
        <% if !@exchange.from_user.phone.blank? %>
          <div class="user-phone">
            <i class="fa fa-phone" aria-hidden="true"></i> <%= @exchange.from_user.phone %>
          </div>
        <% end %>
        <div class="text-muted">
          <small>
          <% if !@exchange.from_user.neighborhood.blank? %>
            <%= @exchange.from_user.neighborhood %><br>
          <% end %>
          <%= @exchange.from_user.city %> / <%= @exchange.from_user.state %>
          </small><br>
          <a href="https://www.google.com/maps/place/<%= @exchange.from_user.full_address %>?hl=en-US" target="_blank" class="btn-link">Ver no mapa</a>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="lead">Quem recebeu a solicitação</p>
        <div class="profile-thumb" style="background-image:url('<%= default_img(@exchange.to_user) %>');float: left;margin-right:15px;"></div>
        <%= link_to @exchange.to_user.name, user_path(@exchange.to_user) %>
        <% if !@exchange.to_user.phone.blank? %>
          <div class="user-phone">
            <i class="fa fa-phone" aria-hidden="true"></i> <%= @exchange.to_user.phone %>
          </div>
        <% end %>
        <div class="text-muted">
          <small>
          <% if !@exchange.to_user.neighborhood.blank? %>
            <%= @exchange.to_user.neighborhood %><br>
          <% end %>
          <%= @exchange.to_user.city %> / <%= @exchange.to_user.state %>
          </small><br>
          <a href="https://www.google.com/maps/place/<%= @exchange.to_user.full_address %>?hl=en-US" target="_blank" class="btn-link">Ver no mapa</a>
        </div>
      </div>
      <div class="col-sm-4">
        <p class="lead">Brinquedo solicitado</p>
        <%= image_tag @exchange.to_item.fet_image.image.url(:thumb), width: 70, class: "pull-left" %>
        <%= link_to @exchange.to_item.title, item_path(@exchange.to_item) if @exchange.item %>
      </div>
    </div>
  </div>
  
  <hr>

  <div class="reply-choose">

    <p class="lead main">Veja os brinquedos que você pode escolher nessa troca</p>
    <p class="lead">Você também pode optar por trocar por 1 crédito (que poderá ser trocado por outro brinquedo, de outra pessoa)</p>

    <%= simple_form_for @exchange do |f| %>
    
      <div class="panel with-nav-tabs panel-success">
        <div class="panel-heading">
          <ul class="nav nav-tabs">
            <li class="active">
              <a href="#tab1default" data-toggle="tab">
                <%= f.radio_button :exchange_type, "exchange" %>
                <strong>Trocar por um brinquedo da lista de <%= @exchange.from_user.name %></strong>
              </a>
            </li>
            <li>
              <a href="#tab2default" data-toggle="tab">
                <%= f.radio_button :exchange_type, "credit" %>
                <strong>Trocar por 1 crédito<br><small>1 crédito vale um brinquedo</small></strong>
              </a>
            </li>
            <li>
              <a href="#tab3default" data-toggle="tab">
                <%= f.radio_button :exchange_type, "canceled" %>
                <strong class="text-danger">Recusar pedido<br><i class="fa fa-frown-o" aria-hidden="true"></i></strong>
              </a>
            </li>
          </ul>
        </div>

        <div class="panel-body">
          <div class="tab-content">

            <div class="tab-pane fade in active" id="tab1default">
              <div class="row show-options">
                <div class="user-item-list">
                  <p class="text-muted"><%= @exchange.user.name %> possui <%= @exchange.user.items.count %> brinquedos. Caso não tenha interesse nesses brinquedos, você poderá trocar por 1 crédito.</p><br>
                  <% if @exchange.user.items.count>0 %>
                    <ul class="cards list-unstyled cards-small">
                      <%= render :partial => "items/item_small", :collection => @exchange.user.items.order("id DESC"), :as => :item, :locals => {:f => f} %>
                    </ul>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab2default">
              <br>
              <p class="lead text-muted text-center">Dessa forma você ganhará <strong>1 crédito</strong> que você poderá trocar por outro brinquedo no Quintal de Trocas, é uma opção em casos em que você não tem interesse no brinquedo da outra pessoa.</p>
            </div>
            <div class="tab-pane fade" id="tab3default">
              <div class="user-canceled">
                <%= f.input :reason, as: :text %>
              </div>
            </div>
          </div>

        </div>
      </div>

      <%= f.submit "Finalizar e combinar a troca &raquo;".html_safe, class: "btn btn-lg btn-success" %>
      </div>
    <% end %>
  </div>
</div>
