<div class="modal-dialog" role="document">
  <%= simple_form_for @exchange do |f| %>
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Responder solicitação</h4>
    </div>
    <div class="modal-body" style="background-color: #f6f6f6;">

      <% if !params[:type].blank? && params[:type] == "credit" %>
        <p class="lead text-center" style="margin: 15px 0 10px 0;"><%= @exchange.from_user.first_name %> está oferecendo 1 crédito em troca do brinquedo</p><p class="text-center" style="margin-bottom:30px;">1 crédito vale um brinquedo dentro da plataforma.</p>

        <hr>
        <div class="text-center">
          <p class="lead">Você aceita a troca?</p>

          <span class="text-success" style="font-size: 20px;">
            <label for="exchange_accepted_true"><%= f.radio_button :accepted, "1" %> Sim</label>&nbsp;&nbsp;&nbsp;
          </span>
          <span class="text-danger" style="font-size: 20px;">
            <label for="exchange_accepted_false"><%= f.radio_button :accepted, "0" %> Não</label>
          </span>

        </div>

      <% else %>
        <p class="lead text-center" style="margin: 15px 0 10px 0;">Escolha um dos brinquedos da lista ou troque por 1 crédito.</p><p class="text-center" style="margin-bottom:30px;">1 crédito vale um brinquedo dentro da plataforma.</p>

        <hr>

        <div class="row user-options">
          <div class="col-sm-4 text-center">
            <%= f.radio_button :exchange_type, "exchange" %><br>
            <strong>Escolher um brinquedo na lista de <%= @exchange.user.name %></strong>
          </div>
          <div class="col-sm-4 text-center">
            <%= f.radio_button :exchange_type, "credit" %><br>
            <strong>Prefiro trocar por<br>1 crédito</strong>
          </div>
          <div class="col-sm-4 text-center">
            <%= f.radio_button :exchange_type, "canceled" %><br>
            <strong class="text-danger">Recusar pedido</strong>
          </div>
        </div>
      <% end %>

      <div class="user-toy-list" style="display: none;">
        <hr>
        <p><%= @exchange.user.name %> possui <%= @exchange.user.toys.count %> brinquedos</p>
        <ul class="list-inline user-toy-list" style="overflow: scroll;width: 100%;">
        <% @exchange.user.toys.each do |toy| %>
          <li class="text-center">
            <div class="thumb">
              <%= image_tag toy.fet_image.image.url(:thumb), width: 80 %>
            </div>
            <%= link_to toy.title, toy %><br>
            <%= f.radio_button :toy_from, toy.id %>
          </li>
        <% end %>
        </ul>
      </div>

      <div class="user-canceled" style="display: none;">
        <hr>
        <%= f.input :reason, as: :text %>
      </div>

    </div>
    <div class="modal-footer">
      <div class="text-center">
        <%= f.submit "Prosseguir &raquo;".html_safe, class: "btn btn-lg btn-success" %>
      </div>
    </div>
  </div>
  <% end %>
</div>