<div class="row">
  <div class="col-sm-3">
    <%= render '/layouts/nav_dashboard' %>
  </div>
  <div class="col-sm-9">

    <div class="page-header">
      <h1>Minhas trocas</h1>
    </div>

    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="<%= 'active' if params[:type].blank? %>">
        <%= link_to "Todas (#{@exchanges_total.count})", my_exchanges_path %>
      </li>
      <li role="presentation" class="<%= 'active' if !params[:type].blank? && params[:type]== "sent" %>">
        <%= link_to "Trocas solicitadas (#{@exchanges_total.where(user_id: current_user.id).count})", my_exchanges_path(type: "sent") %>
      </li>
      <li role="presentation" class="<%= 'active' if !params[:type].blank? && params[:type]== "received" %>">
        <%= link_to "Trocas recebidas (#{@exchanges_total.where(user_to: current_user.id).count})", my_exchanges_path(type: "received") %>
      </li>
    </ul>
    <br>

    <table class="table">
      <thead>
        <tr>
          <th width="45%">Detalhes</th>
          <th width="40%">Status</th>
          <th width="15%" class="text-right">Data</th>
        </tr>
      </thead>

      <tbody>
        <% @exchanges.each do |exchange| %>
          <% if exchange.item %>
          <tr class="<%= 'danger' if exchange.item.deleted? %>">
            <td>
              <div class="profile-thumb" style="background-image:url('<%= default_img((exchange.user == current_user ? current_user : exchange.user)) %>');float:left;margin-right: 15px;"></div>

              <% if exchange.user == current_user %>
                <p class="lead">Solicitação de troca com <%= exchange.item.user ? exchange.item.user.name : "" %></p>
              <% else %>
                <p class="lead"><%= exchange.user.name if exchange.user %> quer trocar com você</p>
              <% end %>

              <div>
                <span class="text-muted">Brinquedo:</span> <%= link_to exchange.item.title, item_path(exchange.item) if exchange.item %>
              </div>

              <% if exchange.item.deleted? %>
                <br><strong class="text-danger">O brinquedo para troca foi removido pelo usuário</strong>
              <% end %>
            </td>
            <td>
              <div class="well well-sm text-center">
                <% if exchange.accepted.nil? %>
                  <% if exchange.user == current_user %>
                    <strong class="lead text-danger">
                      Aguardando resposta de <%= exchange.item.user.name if exchange.item.user %>
                    </strong>
                  <% else %>
                    <strong class="lead text-danger">
                      <span class="glyphicon glyphicon-warning-sign"></span> 
                      <%= exchange.user.name %> está aguardando sua resposta
                    </strong>


                    <%# link_to "Responder", "", "data-toggle" => "modal", "data-target" => "#reply", class: "btn btn-link" %>
                    
                  <% end %>
                <% else %>
                  <strong class="lead text-<%= exchange.accepted == false ? 'danger' : 'success' %>">
                    <span class="glyphicon glyphicon-ok"></span> <%= exchange.to_user == current_user ? "Você" : (exchange.to_user ? exchange.to_user.first_name : "") %> <%= exchange.accepted == false ? "recusou" : "aceitou" %> essa troca
                  </strong>
                  
                <% end %>
                <%= link_to 'Ver detalhes', exchange, class: "btn btn-link" %>
              </div>
            </td>
            <td class="hide">
              <% if exchange.user == current_user %>
                <span class="label label-danger"><span class="glyphicon glyphicon-arrow-right"></span> Troca solicitada</span>
              <% else %>
                <span class="label label-success"><span class="glyphicon glyphicon-arrow-left"></span> Troca recebida</span>
              <% end %>
            </td>
            <td class="text-right">
              <%= exchange.created_at.strftime("%d/%m/%Y") %>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= paginate @exchanges %>

  </div>
</div>
