<div class="row">
  <div class="col-sm-3">
    <%= render '/layouts/nav_dashboard' %>
  </div>
  <div class="col-sm-9">


    <div class="page-header">
      <h1>Minhas trocas</h1>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th width="15%">Título</th>
          <th width="40%"></th>
          <th width="30%"></th>
          <th width="15%"></th>
        </tr>
      </thead>

      <tbody>
        <% @exchanges.each do |exchange| %>
          <tr>
            <td>
              <%= exchange.created_at.strftime("%d/%m/%Y") %><br><br>

              <% if exchange.user == current_user %>
                <span class="label label-danger"><span class="glyphicon glyphicon-arrow-right"></span> Troca solicitada</span>
              <% else %>
                <span class="label label-success"><span class="glyphicon glyphicon-arrow-left"></span> Troca recebida</span>
              <% end %>
            </td>
            <td>
              <% if exchange.user == current_user %>
                <p class="lead">Aguardando resposta de <%= exchange.toy.user.name %></p>
              <% else %>
                <p class="lead"><%= exchange.user.name %> quer trocar com você</p>
                <a href="#" class="btn btn-default">Aceitar</a> -
                <a href="#" class="btn btn-default">Recusar</a>
              <% end %>

              <div>
                Brinquedo solicitado:<br><%= link_to exchange.toy.title, exchange_path(exchange) if exchange.toy %>
              </div>
            </td>
            <td>
              <div class="well">
                ...
              </div>
            </td>
            <td><%= link_to 'Ver detalhes', exchange %> - <%= link_to 'Destroy', exchange, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
