
<div class="row">
  <div class="col-sm-3">
    <%= render '/layouts/nav_dashboard' %>
  </div>
  <div class="col-sm-9">

    <% if @exchange.toy.deleted? %>
      <br>
      <div class="alert alert-danger">
        <h4>O brinquedo para troca foi removido pelo usuário</h4>
      </div>
    <% end %>
    <br>

    <ul class="progress-indicator">
      <li class="completed">
          <span class="bubble"></span>
          1. Enviar solicitação de troca
      </li>
      <li class="<%= 'completed' if !@exchange.accepted.nil? %>">
          <span class="bubble"></span>
          2. Resposta de <%= @exchange.toy.user.first_name %> se aceita ou não a troca
      </li>
      <li class="<%= 'completed' if !@exchange.finalized.nil? %>">
          <span class="bubble"></span>
          3. Combinar local e forma de entrega/troca
      </li>
      <li class="<%= 'completed' if !@exchange.finalized.nil? %>">
          <span class="bubble"></span>
          4. Confirmar se troca foi efetuada
      </li>
    </ul>

    <h2>
      <% if @exchange.user == current_user %>
        Solicitação de troca com <%= @exchange.toy.user.name %>
      <% else %>
        <%= @exchange.user.name %> quer trocar com você
      <% end %>
    </h2>

    <% if current_user.id == @exchange.user_to && @exchange.accepted.nil? %>
      <%= render 'reply' %>
    <% else %>

    <div class="row exchange-header">
      <div class="col-sm-4">
        <div class="well well-sm">
          <div class="text-muted"">Troca:</div>

          <div class="row">
            <div class="col-sm-6 exchange-profile">
              <div class="profile-mini" style="background-image:url('<%= default_img(@exchange.user) %>');float: left;margin-right:10px;"></div> 

              <% if @exchange.from_user == current_user %>
                Você
              <% else %>
               <%= link_to @exchange.from_user.first_name, user_path(@exchange.from_user) %>
              <% end %>
               <small>solicitou:</small>
              <%= link_to @exchange.to_toy.title, toy_path(@exchange.to_toy) if @exchange.toy %>
            </div>
            <div class="col-sm-6 exchange-profile" style="<%= 'opacity: 0.4' if @exchange.accepted.nil? %>">
              <div class="profile-mini" style="background-image:url('<%= default_img(@exchange.toy.user) %>');float: left;margin-right:10px;"></div> <%= @exchange.to_user == current_user ? "Você" : @exchange.to_user.first_name %> <small>respondeu:</small>

              <% if !@exchange.accepted.nil? && @exchange.accepted %>
                <% if @exchange.exchange_type == "credit" %>
                  Troca por crédito
                <% elsif @exchange.exchange_type == "exchange" %>
                  <% if @exchange.from_toy %>
                    <%= link_to @exchange.from_toy.title, toy_path(@exchange.from_toy) if @exchange.toy %>
                  <% end %>
                <% end %>
              <% elsif !@exchange.accepted.nil? && !@exchange.accepted %>
                Recusou a troca
              <% else %>
                <div class="text-muted"><%= @exchange.from_toy ? @exchange.from_toy.title : "--" %></div>
              <% end %>
            </div>
          </div>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="well well-sm">
          <div class="text-muted">Status:</div>

          <% if @exchange.accepted.nil? %>
            <% if @exchange.user == current_user %>
              <strong class="lead text-danger">
                Aguardando resposta de <%= @exchange.toy.user.first_name %>
              </strong>
            <% else %>
              <strong class="lead text-danger">
                <span class="glyphicon glyphicon-warning-sign"></span> 
                <%= @exchange.user.first_name %> está aguardando sua resposta
              </strong>

              <br>

              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <%= link_to 'Responder', exchange_reply_path(@exchange, type: (@exchange.credit_offer ? "credit" : "nil")), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#reply', class: "btn btn-default"} %>
            <% end %>
          <% else %>
            <strong class="lead text-<%= @exchange.accepted ? 'success' : 'danger' %>">
              <span class="glyphicon glyphicon-ok"></span> <%= @exchange.to_user == current_user ? "Você" : @exchange.to_user.first_name %> <%= @exchange.accepted == false ? "recusou" : "aceitou" %> essa troca
            </strong>
            <% if @exchange.accepted == false %>
              <br>Motivo: <%= @exchange.reason %>
            <% end %>

            <% if @exchange.accepted %><br>
              Tipo de troca: <%= @exchange.exchange_type == "credit" ? 'por crédito' : 'por outro brinquedo' %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="well well-sm">
          <div class="text-muted"">Troca foi efetuada?</div>
            <%= simple_form_for @exchange, :html => { :class => 'form-inline' } do |f| %>

              <% if @exchange.exchange_type == "exchange" && !@exchange.accepted.blank? %>

                <% if @exchange.from_user.id == current_user.id %>
                  <div>
                    Você já recebeu o produto?<br>
                    <%= f.input :user_from_received, label: false, prompt: "Selecione", as: :select, collection: [["Sim", Time.now], ["Nao", nil]] %>
                    <%= f.submit "Ok", class: "btn btn-sm btn-default" %>
                  </div>
                <% else %>
                  <% if @exchange.from_user && !@exchange.user_from_received.blank? %>
                    <%= @exchange.from_user.first_name %> informou que recebeu o brinquedo
                  <% else %>
                    <div class="text-danger"><%= @exchange.from_user.first_name %> ainda não respondeu</div>
                  <% end %>
                <% end %>

                <hr>

                <% if @exchange.to_user.id == current_user.id %>
                  <div>
                    Você já recebeu o produto?<br>
                    <%= f.input :user_to_received, label: false, prompt: "Selecione", as: :select, collection: [["Sim", Time.now], ["Nao", nil]] %>
                    <%= f.submit "Ok", class: "btn btn-sm btn-default" %>
                  </div>
                <% else %>
                  <% if @exchange.to_user && !@exchange.user_to_received.blank? %>
                    <%= @exchange.from_user.first_name %> informou que recebeu o brinquedo
                  <% else %>
                    <div class="text-danger"><%= @exchange.to_user.first_name %> ainda não respondeu</div>
                  <% end %>
                <% end %>

              <% elsif (@exchange.exchange_type == "credit" || @exchange.exchange_type.blank?) && @exchange.user == current_user && !@exchange.accepted.blank? %>
                
                <p>Você já recebeu o produto?</p>
                <%= f.input :finalized, label: false, prompt: "Selecione", as: :select, collection: [["Sim", true], ["Nao", false]] %>
                <%= f.submit "Ok", class: "btn btn-sm btn-default" %>
                
              <% elsif @exchange.exchange_type == "credit" && @exchange.finalized.nil? %>
                Aguardando a acusação de recebimento de <%= @exchange.from_user.first_name %> para liberação do crédito.
              <% elsif @exchange.exchange_type == "credit" && @exchange.finalized %>
                <div class="alert alert-success">Crédito liberado</div>
              <% elsif @exchange.exchange_type == "credit" && !@exchange.finalized %>
                <div class="alert alert-danger"><%= @exchange.from_user.first_name %> informou que ainda não recebeu.</div>
              <% end %>

            <% end %>
        </div>
      </div>
    </div>

    <% if @exchange.accepted %>
      <div class="alert alert-success">
      <h4 style="font-weight: bold"><span class="glyphicon glyphicon-ok"></span> <%= @exchange.to_user == current_user ? "Você" : @exchange.to_user.first_name %> <%= @exchange.accepted == false ? "recusou" : "aceitou" %> essa troca</h4>
      <p class="lead text-muted">Envie uma mensagem combinando como e onde será enviado ou entregue o brinquedo</p>
      </div>
    <% end %>

    <p class="lead">Mensagens (<%= @messages.count %>)</p>

    <% @messages.each do |msg| %>
    <div class="message">
      <div class="row">
        <div class="col-sm-1 text-center">
          <div class="profile-thumb" style="background-image:url('<%= default_img(msg.user) %>');float: left;margin-right:15px;width: 40px;height: 40px;"></div>
        </div>
        <div class="col-sm-11">
          <small class="text-muted"><%= msg.created_at.strftime("%d/%m/%Y - %H:%M") if msg.created_at %></small><br>
          <strong class="text-muted"><%= msg.user == current_user ? "Você" : msg.user.first_name %> respondeu:</strong>
          <%= simple_format msg.message %>
        </div>
      </div>
    </div>
    <hr>
    <% end %>

    <div class="row">
      <div class="col-sm-1">
        <div class="profile-thumb" style="background-image:url('<%= default_img(current_user) %>');width: 40px;height: 40px;"></div>
      </div>
      <div class="col-sm-11">
        <%= render 'form_reply' %>
      </div>
    </div>

    <% end %>
    
  </div>
</div>

<!-- Reply modal -->
<div class="modal fade" id="reply_old" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
</div>