

<div class="row">
  <div class="col-sm-3">
    <%= render '/layouts/nav_dashboard' %>
  </div>
  <div class="col-sm-9">

    <h2>
      <% if @exchange.user == current_user %>
        Solicitação de troca com <%= @exchange.toy.user.name %>
      <% else %>
        <%= @exchange.user.name %> quer trocar com você
      <% end %>
    </h2>

    <div class="row exchange-header">
      <div class="col-sm-6">
        <div class="well well-sm">
          <div class="text-muted">Status:</div>

          <% if @exchange.status.blank? %>
            <% if @exchange.user == current_user %>
              <strong class="text-danger">
                Aguardando resposta de <%= @exchange.toy.user.name %>
              </strong>
            <% else %>
              <strong class="text-danger">
                <span class="glyphicon glyphicon-warning-sign"></span> 
                <%= @exchange.user.name %> está aguardando sua resposta
              </strong>

              <br>

              <%# link_to "Responder", "", "data-toggle" => "modal", "data-target" => "#reply", class: "btn btn-link" %>
              <%= link_to 'Responder', exchange_reply_path(@exchange), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#reply'}  %>
              <%# link_to "Aceitar", exchange_toggle_status_path(@exchange, status: "sim"), class: "btn btn-sm btn-success", method: :post %>
              <%# link_to "Recusar", exchange_toggle_status_path(@exchange, status: "nao"), class: "btn btn-sm btn-danger", method: :post %>
            <% end %>
          <% else %>
            <strong class="lead text-<%= @exchange.status == '3' ? 'danger' : 'success' %>">
              <span class="glyphicon glyphicon-ok"></span> Você <%= @exchange.status == "3" ? "recusou" : "aceitou" %> essa troca
            </strong>

            <% if @exchange.status != "3" %><br>
              Tipo de troca: <%= @exchange.from == "1" ? 'por outro brinquedo' : 'por crédito' %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="well well-sm">
          <div class="text-muted"">Troca:</div>

          <div class="row">
            <div class="col-sm-6 exchange-profile">
              <div class="profile-mini" style="background-image:url('<%= default_img(@exchange.user) %>');float: left;margin-right:10px;"></div> <%= @exchange.user == current_user ? "Você" : @exchange.user.first_name %> <small>solicitou:</small>
              <%= link_to @exchange.to.title, toy_path(@exchange.to) if @exchange.toy %>
            </div>
            <div class="col-sm-6 exchange-profile">
              <div class="profile-mini" style="background-image:url('<%= default_img(@exchange.toy.user) %>');float: left;margin-right:10px;"></div> <%= @exchange.toy.user.first_name %> <small>respondeu:</small>

              <% if @exchange.status.blank? %>
                <div class="text-muted">---</div>
              <% elsif @exchange.from %>
                <%= link_to @exchange.from.title, toy_path(@exchange.from) if @exchange.toy %>
              <% else %>
                Troca por crédito
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </div>

    <p class="lead">Mensagens (<%= @messages.count %>)</p>

    <% @messages.each do |msg| %>
    <div class="message">
      <div class="row">
        <div class="col-sm-1">
          <div class="profile-thumb" style="background-image:url('<%= default_img(msg.user) %>');float: left;margin-right:15px;width: 40px;height: 40px;"></div>
        </div>
        <div class="col-sm-11">
          <small class="text-muted"><%= msg.created_at.strftime("%d/%m/%Y - %H:%M") if msg.created_at %></small><br>
          <%= simple_format msg.message %>
        </div>
      </div>
    </div>
    <hr>
    <% end %>

    <div class="row">
      <div class="col-sm-1">
        <div class="profile-thumb" style="background-image:url('<%= default_img(current_user) %>');width: 40px;height: 40px;"></div>
      </div>
      <div class="col-sm-11">
        <%= render 'form_reply' %>
      </div>
    </div>
    
  </div>
</div>

<!-- Reply modal -->
<div class="modal fade" id="reply" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
</div>