<div class="row">
  <div class="col-sm-3">
    <%= render '/layouts/nav_dashboard' %>
  </div>
  <div class="col-sm-9">

  <h1></h1>

<p>
  <strong>Toy from:</strong>
  <%= @exchange.toy_from %>
</p>

<p>
  <strong>Toy to integer:</strong>
  <%= @exchange.toy_to %>
</p>

<p>
  <strong>Status:</strong>
  <%= @exchange.status %>
</p>

<div class="alert alert-info">
  Escolha um dos brinquedos da lista de <strong>NOME</strong> ou troque por 1 crédito. 1 crédito vale um brinquedo dentro da plataforma.
</div>

<hr>

<p class="lead">Mensagens</p>

<div class="well">

</div>

<% @messages.each do |msg| %>
	<strong><%= msg.subject %></strong><br>
	<%= msg.messages.first.body %>
	<hr>
<% end %>


</div>


<input type="submit" name="">

<%= link_to 'Edit', edit_exchange_path(@exchange) %> |

</div>
</div>
