<div class="row">
  <div class="col-sm-3">
    <%= render '/layouts/nav_dashboard' %>
  </div>
  <div class="col-sm-9">




<script type="text/javascript">


</script>
<div class="page-header">
  <h1>Alterar dados pessoais</h1>
</div>

<br>
<div style="display:none">
  <p class="lead">Dados de acesso</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>
</div>

<%= simple_form_for(resource, as: resource_name.to_s, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  
  <%= bootstrap_devise_error_messages! %>

  <div class="row">
    <div class="col-sm-6">

      <div class="row">
        <div class="col-sm-4 text-center">

          <div class="profile" style="background-image:url('<%= default_img(@user) %>')"></div>

          <label class="btn btn-link btn-sm btn-file">
            Selecionar foto <%= f.file_field :avatar, style: "display:none;" %>
          </label>
        </div>
        <div class="col-sm-8">
          <%= f.input :name %>

          <div class="row">
            <div class="col-sm-6">
              <%= f.input :birthday, as: :string, :input_html => { :value => (!f.object.birthday.blank? && f.object.birthday.to_s.length > 6 ? localize(f.object.birthday) : f.object.birthday) }, class: "form-control" %>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= f.label :gender %><br>
                <label class="radio-inline">
                  <%= f.radio_button :gender, "M"  %> Mas
                </label>
                <label class="radio-inline">
                  <%= f.radio_button :gender, "F" %> Fem
                </label>
              </div>
            </div>
          </div>

        </div>
      </div>
      
      <%= f.input :phone, placeholder: "(DDD) 0000-0000" %>

      <hr>

      <%= render :partial => '/devise/registrations/address', :locals => { :f => f } %>
      
      <br>

      <div class="actions">
        <%= f.submit class: "btn btn-lg btn-success" %>
      </div>

    </div>
    <div class="col-sm-6">
      <div style="padding-left: 20px;">
      <p class="lead">Nome/nascimentos dos filhos</p>

      <%= f.simple_fields_for :user_children do |ff| %>
          
        <div class="row">
          <div class="col-sm-5">
            <%= ff.input :name %>
          </div>
          <div class="col-sm-4">
            <%= ff.input :birthday, as: :string, :input_html => { :value => (!ff.object.birthday.blank? && ff.object.birthday.to_s.length > 6 ? localize(ff.object.birthday) : ff.object.birthday) } %>
          </div>
          <div class="col-sm-3">
            <%= ff.input :gender, as: :select, collection: ["M", "F"], prompt: "Selecione" %>
          </div>
        </div>

      <% end %>

      <br>
      <div class="text-muted text-center">Fique tranquilo, essa informação é confidencial.<br>
      Queremos essa informação para oferecer os brinquedos mais adequados à idade da criança</div>
      
      <div class="hide">
        <hr>
        <%= f.input :latitude %>
        <%= f.input :longitude %>
      </div>
      </div>

    </div>
  </div>

  <% end %>

  <div class="hide">
    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>

</div>
</div>
