<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    
    <%= bootstrap_devise_error_messages! %>
    <div class="panel panel-default devise-bs">
      <div class="panel-heading">
        <h4><%= t('.sign_up', :default => "Sign up") %></h4>
      </div>
      <div class="panel-body">
        <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" }) do |f| %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <%= f.input :password %>

          <hr>

          <%= f.input :name %>

          <div class="row">
            <div class="col-sm-4">
              <%= f.input :phone, placeholder: "(DDD) 0000-0000" %>
            </div>
            <div class="col-sm-4">
              <%= f.input :birthday, as: :string, :input_html => { :value => (!f.object.birthday.blank? && f.object.birthday.to_s.length > 6 ? localize(f.object.birthday) : f.object.birthday) }, class: "form-control" %>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <%= f.label :gender %><br>
                <label class="radio-inline">
                  <%= f.radio_button :gender, "M"  %> Masc
                </label>
                <label class="radio-inline">
                  <%= f.radio_button :gender, "F" %> Fem
                </label>
              </div>
            </div>
          </div>

          <%= f.input :avatar, as: :file %>

          <hr>

          <%= render :partial => '/devise/registrations/address', :locals => { :f => f } %>

          <div class="form-group hide">
            <label class="control-label">Se possuir algum cupom, digite abaixo:</label>
            <input type="text" name="coupon" size="5" class="form-control" value="<%= params[:coupon] if !params[:coupon].blank? %>">
          </div>

          <br>

          <div class="actions">
            <%= f.submit class: "btn btn-lg btn-success" %>
          </div>

        <% end %>
      </div>
    </div>

  </div>
</div>
