<% content_for :head do %>
  <%= javascript_include_tag 'jquery-ui', 'tag-it.min' %>
<% end %>

<%= simple_form_for(@toy, html: { multipart: true }) do |f| %>
  
  <%= f.hidden_field :zipcode %>

  <% if @toy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@toy.errors.count, "error") %> prohibited this toy from being saved:</h2>

      <ul>
      <% @toy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      
      <%= f.input :title %>

      <%= f.input :toy_age_id, collection: ToyAge.order("title asc").all, as: :select, prompt: "Selecione", rows: 5 %>

      <%= f.input :toy_category_id, collection: ToyCategory.order("title asc").all, as: :select, prompt: "Selecione", rows: 5 %>

      <%= f.input :description, :input_html => { :rows => 5 } %>
      
      <%= f.input :tag_list, hint: "Utilize vírgula para adicionar a palavra chave" %>

    </div>

    <div class="col-sm-6">
      

      <p class="lead">Imagens</p>

      <% @toy.toy_images.each.with_index do |toy_image,index| %>
      <%= f.fields_for :toy_images, toy_image do |p| %>
        <div class="field" style="width:120px;float:left;margin-right: 10px;margin-bottom: 10px;background-color: #eee;">

          <% if p.object.image? %>
          <div class="thumb">
            <%= image_tag p.object.image.url %>
          </div>
          <% end %>
          
          <%= p.label :image, "Image #{index+1}" %><br>
          
          <label class="btn btn-default btn-sm btn-file">
            Selecionar imagem <%= p.file_field :image, style: "display:none;" %>
          </label>

          <div class="featured">
            <%= p.check_box :featured %> Destaque
          </div>
        </div>
      <% end %>
      <% end %>
  </div>
</div>

  <%= f.button :submit, class: "btn btn-success btn-lg" %>
<% end %>
