<li>
  <a href="<%= url_for(toy) %>">
    <div class="thumb">
      <% if toy.toy_images.count > 0 %>
        <%= image_tag toy.toy_images.first.image.url(:medium) %>
      <% end %>
    </div>
    <div class="content">
      <h2><%= link_to toy.title, toy %></h2>

      <small>
        Idade: <%= toy.toy_age.title if toy.toy_age %><br>
        Categoria: <%= toy.toy_category.title if toy.toy_category %>
      </small>

    </div>
    <div class="text-center">
      <a href="<%= url_for(toy) %>" class="btn btn-success btn-block">Quero trocar</a>
    </div>
  </a>
</li>
