<li>
  <a href="<%= url_for(toy) %>">
    <div class="thumb">
    </div>
    <div class="content">
      <h2><%= link_to toy.title, toy %></h2>

      <small class="text-muted">
        <i class="fa fa-child" aria-hidden="true"></i> <%= toy.toy_age.title if toy.toy_age %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-folder" aria-hidden="true"></i> <%= toy.toy_category.title if toy.toy_category %>
      </small>

    </div>
    <!-- <div class="text-center">
      <a href="<%= url_for(toy) %>" class="btn btn-success btn-block">Quero trocar</a>
    </div> -->
  </a>
</li>
