<li>
  <a href="<%= url_for(toy) %>">
    <div class="thumb" style="background-image: url('<%= toy.fet_image.image.url(:medium) %>')">
    </div>
    <div class="content">
      <h2><%= link_to toy.title, toy %></h2>

      <small class="text-muted">
        <i class="fa fa-child" aria-hidden="true"></i> <%= toy.toy_age.title if toy.toy_age %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-folder" aria-hidden="true"></i> <%= toy.toy_category.title if toy.toy_category %>
      </small>

    </div>
    <div class="text-center">
      <%= link_to "Comprar", new_order_path(product: toy.id), class: "btn btn-primary btn-block" %>
    </div>
  </a>
</li>
