<% if @toy.user %>
  
<!-- Modal -->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Solicitar troca com <%= @toy.user.name %></h4>
      </div>
      <div class="modal-body">

        <%= simple_form_for(@exchange) do |f| %>
          <%= f.hidden_field :user_id, value: (current_user ? current_user.id : nil) %>
          <%= f.hidden_field :toy_to %>

          <% if current_user.credits.count > 0 %>
            <div class="well text-center">
            <div class="row">
              <p class="lead">Você possui <span class="badge"><%= current_user.credits.count %></span> crédito(s).</p>
              <div class="col-sm-5 col-sm-offset-1">
                <%= f.radio_button :credit_offer, "1" %><br>
                Quero oferecer 1 crédito na troca por este brinquedo
              </div>
              <div class="col-sm-5">
                <%= f.radio_button :credit_offer, "0", :checked => true %><br>
                Deixar que <%= @exchange.to_user.first_name %> escolha um dos meus brinquedos
              </div>
            </div>
            </div>
          <% else %>
            <div class="alert alert-info">
              A pessoa receberá essa mensagem e irá decidir se troca por 1 crédito ou algum brinquedo da sua lista.<br>
              <small class="text-muted">1 crédito vale um brinquedo dentro da plataforma</small>
            </div>
          <% end %>

          <%= f.simple_fields_for :exchange_messages do |ff| %>
            <%= ff.hidden_field :user_id, value: current_user.id %>
            <%= ff.hidden_field :user_from, value: current_user.id %>
            <%= ff.hidden_field :user_to, value: @toy.user.id %>

            <%= f.input :exchange_deliver, 
              :collection => [['0', 'Ponto de troca'] ,['1', 'Correio']], 
              :label_method => :last, 
              :value_method => :first, 
              :as => :radio_buttons %>

            <div class="form-group">
              <label>Mensagem</label>
              <%= ff.text_area :message, value: "Olá #{@toy.user.name},\nGostei bastante desse brinquedo e gostaria de saber se é possível trocarmos.", class: "form-control", rows: 4 %>
            </div>
          <% end %>

          <div class="form-group">
            <%= button_tag(type: 'submit', class: "btn btn-success btn-lg") do %>
              <i class="fa fa-paper-plane"></i> Enviar solicitação
            <% end %>
          </div>
        <% end %>


        <div class="hide">
          <%= simple_form_for(@exchange) do |f| %>
            <%= f.input :toy_from, as: :hidden %>
            <%= f.input :toy_to, as: :select, collection: (current_user && current_user.toys ? current_user.toys : []), prompt: "Selecione" %>
            <%= f.input :exchange_type, as: :radio_buttons, collection: [['Pontos de troca', 'Pontos de troca'] ,['Correio', 'Correio']], item_wrapper_class: 'inline' %>
            <%= f.submit "Trocar", class: "btn btn-primary" %>
          <% end %>
        </div>

        <div class="row toy-exchange" style="display:none">
          <div class="col-sm-6 text-center">
            <div class="toy-from">
              <div class="title">Quero trocar esse briquedo</div>
              <div class="inner">
                <%= select_tag :toy, options_for_select((current_user && current_user.toys ? current_user.toys.collect{ |u| [u.title, u.id] } : [])), class: "form-control", include_blank: "Selecione" %>

                <div class="toy">
                  <div class="thumb">
                    <%= image_tag "no-image", width: 50 %>
                  </div>
                  selecione...
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="toy-to">
              <div class="title">por esse</div>
              <div class="inner">
                <div class="toy">
                  <div class="thumb">
                    <%= image_tag @toy.fet_image.image.url(:thumb) %>
                  </div>
                  <%= @toy.title %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>