<% content_for :subheader do %>
  <h1>Quero trocar</h1>
  <p>...</p>
<% end %>

<div class="row">
	<div class="col-sm-6">

		<section id="gallery" class="simplegallery">
			<div class="thumb-nail">
				<% @toy_images.each_with_index do |p, index| %>
					<div class="thumb">
						<a href="#" rel="<%= index %>">
							<%= image_tag p.image.url(:thumb) %>
						</a>
					</div>
				<% end %>
			</div>

			<div class="content">
				<% @toy_images.each_with_index do |p, index| %>
					<%= image_tag p.image.url(:large), style: (p.featured? || @toy_images.count == 1 ? "display:block" : "display:none"), class: "img-#{index}" %>
				<% end %>
			</div>

			<div class="clear"></div>

	</section>



		...
	</div>
	<div class="col-sm-6">
		<h1 style="margin: 0 0 20px 0;"><%= @toy.title %></h1>

		<div class="row">
			<div class="col-sm-6">
				<div class="text-muted">Faixa etária</div>
				<p class="lead"><i class="fa fa-child" aria-hidden="true"></i> <%= @toy.toy_age.title %></p>
			</div>

      <div class="col-sm-6">
        <div class="text-muted">Categoria</div>
        <p class="lead"><i class="fa fa-folder" aria-hidden="true"></i> <%= @toy.toy_category.title %></p>
      </div>
		</div>


		<% if @toy.user && @toy.user.latitude %>
		<script type="text/javascript">

// First, create an object containing LatLng and population for each city.
var citymap = {
	chicago: {
		center: {lat: <%= @toy.user.latitude %>, lng: <%= @toy.user.longitude %>},
	},
	// newyork: {
	//   center: {lat: 40.714, lng: -74.005},
	//   population: 8405837
	// },
	// losangeles: {
	//   center: {lat: 34.052, lng: -118.243},
	//   population: 3857799
	// },
	// vancouver: {
	//   center: {lat: 49.25, lng: -123.1},
	//   population: 603502
	// }
};

function codeAddress() {
	// Create the map.
	var map = new google.maps.Map(document.getElementById('mapCanvas'), {
		zoom: 13,
		center: {lat: <%= @toy.user.latitude %>, lng: <%= @toy.user.longitude %>},
		mapTypeId: google.maps.MapTypeId.TERRAIN
	});

	// Construct the circle for each value in citymap.
	// Note: We scale the area of the circle based on the population.
	for (var city in citymap) {
		// Add the circle for this city to the map.
		var cityCircle = new google.maps.Circle({
			strokeColor: '#FF0000',
			strokeOpacity: 0.8,
			strokeWeight: 0,
			fillColor: '#FF0000',
			fillOpacity: 0.35,
			map: map,
			center: citymap[city].center,
			radius: 500
		});
	}
}
</script>

		<% end %>



<p>
	<strong>Descrição:</strong><br>
	<%= @toy.description %>
</p>

<hr>

<%# link_to "Trocar", "", "data-toggle" => "modal", "data-target" => "#myModal", class: "btn btn-primary btn-lg go-private" %>
<%= link_to "Solicitar trocar", "", "data-toggle" => "modal", "data-target" => "#myModal", class: "btn btn-primary btn-lg go-private" %>

<hr>
<% if @toy.user %>
  
<div class="row">
	<div class="col-sm-5">
    <div class="profile-thumb" style="background-image:url('<%= default_img(@toy.user) %>');float: left;margin-right:15px;"></div>
		<p><span class="glyphicon glyphicon-user"></span> Cadastrado por</p>
		<%= link_to @toy.user.name, user_path(@toy.user) %>
		<div class="text-muted">
			<%= @toy.user.street %><br>
			<%= @toy.user.city %> / <%= @toy.user.state %>
		</div>
	</div>
	<div class="col-sm-7">
		<div id="mapCanvas" class="toy-detail-map"></div>
	</div>
</div>
<% end %>

</div>
	</div>
</div>


		<% if @toy.user && @toy.user.latitude %>
		<!-- script google maps ? -->
<% end %>




<!-- Button trigger modal -->

<% if @toy.user %>
  
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Solicitar troca com <%= @toy.user.name %></h4>
			</div>
			<div class="modal-body">

        <!-- <div class="alert alert-info">A pessoa receberá uma mensagem e solicitará um de seus brinquedos para a troca.</div> -->

				<div class="alert alert-info">
          A pessoa receberá essa mensagem e irá decidir se troca por 1 crédito ou algum brinquedo da sua lista.<br>
          <small class="text-muted">1 crédito vale um brinquedo dentro da plataforma</small>
        </div>

				<%= simple_form_for(@exchange) do |f| %>
					<%= f.hidden_field :user_id, value: (current_user ? current_user.id : nil) %>
					<%= f.hidden_field :toy_to %>
					
          <%= f.simple_fields_for :exchange_messages do |ff| %>
            <%= ff.hidden_field :user_id, value: current_user.id %>
            <%= ff.hidden_field :user_from, value: current_user.id %>
            <%= ff.hidden_field :user_to, value: @toy.user.id %>

            <%= f.input :exchange_deliver, 
              :collection => [['0', 'Ponto de troca'] ,['1', 'Correio']], 
              :label_method => :last, 
              :value_method => :first, 
              :as => :radio_buttons %>

            <div class="form-group">
              <label>Mensagem</label>
  						<%= ff.text_area :message, value: "Olá #{@toy.user.name},\nGostei bastante desse brinquedo e gostaria de saber se é possível trocarmos.", class: "form-control", rows: 4 %>
  					</div>
          <% end %>

					<div class="form-group">
            <%= button_tag(type: 'submit', class: "btn btn-success btn-lg") do %>
              <i class="fa fa-paper-plane"></i> Enviar solicitação
            <% end %>
					</div>
				<% end %>


				<div class="hide">
					<%= simple_form_for(@exchange) do |f| %>
						<%= f.input :toy_from, as: :hidden %>
						<%= f.input :toy_to, as: :select, collection: (current_user && current_user.toys ? current_user.toys : []), prompt: "Selecione" %>
						<%= f.input :exchange_type, as: :radio_buttons, collection: [['Pontos de troca', 'Pontos de troca'] ,['Correio', 'Correio']], item_wrapper_class: 'inline' %>
						<%= f.submit "Trocar", class: "btn btn-primary" %>
					<% end %>
				</div>

				<div class="row toy-exchange" style="display:none">
					<div class="col-sm-6 text-center">
						<div class="toy-from">
							<div class="title">Quero trocar esse briquedo</div>
							<div class="inner">
								<%= select_tag :toy, options_for_select((current_user && current_user.toys ? current_user.toys.collect{ |u| [u.title, u.id] } : [])), class: "form-control", include_blank: "Selecione" %>

								<div class="toy">
									<div class="thumb">
										<%= image_tag "no-image", width: 50 %>
									</div>
									selecione...
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-6 text-center">
						<div class="toy-to">
							<div class="title">por esse</div>
							<div class="inner">
								<div class="toy">
									<div class="thumb">
										<%= image_tag @toy.fet_image.image.url(:thumb) %>
									</div>
									<%= @toy.title %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>

