<li>
  <div class="meta">
    <span class="glyphicon glyphicon-calendar"></span> <%= article.created_at.strftime("%d/%m/%Y") %>
    <span class="glyphicon glyphicon-tag"></span> <%= article.category %>
    <span class="glyphicon glyphicon-user"></span> <%= article.user.name %>
  </div>
  <%= link_to article.title, article, class: "article-title" %>
  <p class="article-desc"><%= truncate(article.body, length: 200, omission: " ...") %></p>
</li>