<br>
<div class="col-sm-6 col-sm-offset-3">
  <%= simple_form_for(@store) do |f| %>
    <%= f.error_notification %>

      <%= f.input :name %>
      <br>

      <% if !@store.new_record? %>
      <fieldset>
        <legend>Habilitar Pagseguro</legend>

        <p>Para que possamos realizar as cobranças diretamente em nosso site, você precisa permitir que o Quintal de Trocas utilize sua conta para isso.</p>

        <%= debug @authorization %>
        <% if @authorization && @authorization.permissions.first.status == "APPROVED" %>
          <div class="panel panel-success">
            <div class="panel-body">
              <strong class="text-success"><i class="glyphicon glyphicon-ok"></i> Habilitado</strong>
            </div>
          </div>
        <% elsif @authorization_request_link || @authorization %>
          <div class="panel panel-success">
            <div class="panel-body">
              <strong class="text-danger"><i class="glyphicon glyphicon-remove-circle"></i> Desabilitado</strong>
            <%= link_to "Habilitar", @authorization_request_link, class: "btn btn-default" %>
            </div>
          </div>
        <% else %>
          <p class="text-danger">Erro de conexão com Pagseguro</p>
        <% end %>
      </fieldset>
      <% end %>

      <br>

    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-success" %>
    </div>
  <% end %>
</div>

