<div class="row">
  <div class="col-sm-2 text-center">
    <br>
    <br>
    <div class="profile-large" style="background-image:url('<%= @user.avatar.url(:thumb) %>');"></div>
  </div>
  <div class="col-sm-7">
    <div class="page-header">
      <h1><%= @user.name %></h1>
    </div>

    <table class="table">
      <tr>
        <td width="25%">Membro desde</td>
        <td width="75%"><%= @user.created_at.strftime("%d/%m/%Y") %></td>
      </tr>
      <% if !@user.last_sign_in_at.blank? %>
      <tr>
        <td>Acesso mais recente</td>
        <td><%= @user.last_sign_in_at.strftime("%d/%m/%Y") %></td>
      </tr>
      <% end %>
      <% if !@user.neighborhood.blank? %>
      <tr>
        <td>Bairro</td>
        <td><%= @user.neighborhood %></td>
      </tr>
      <% end %>
      <% if !@user.city.blank? && !@user.state.blank? %>
      <tr>
        <td>Cidade / UF</td>
        <td><%= @user.city %> / <%= @user.state %></td>
      </tr>
      <% end %>
    </table>

  </div>
  <div class="col-sm-3">
    
  </div>
</div>

<br>

<p class="lead">Brinquedos cadastrados</p>
<% if @items %>
  <ul class="cards list-unstyled">
    <%= render @items, file: "/items/_item" %>
  </ul>
<% else %>
<% end %>
