<div class="row">
  <div class="col-sm-2 text-center">
    <br>
    <div class="profile-large" style="background-image:url('<%= @user.avatar.url(:thumb) %>');"></div>
  </div>
  <div class="col-sm-7">
    <div class="page-header">
      <h1><%= @user.name %></h1>
    </div>

    <table class="table">
      <tr>
        <td>Cadastrado em</td>
        <td><%= @user.created_at.strftime("%d/%m/%Y") %></td>
      </tr>
      <tr>
        <td>Idade</td>
        <td><%= @user.birthday %></td>
      </tr>
      <tr>
        <td>Acesso Mais Recente</td>
        <td><%= @user.created_at.strftime("%d/%m/%Y") %></td>
      </tr>
    </table>
  </div>
  <div class="col-sm-3">
    ...
  </div>
</div>
