<% content_for :subheader do %>
  <h1>Como surgiu o Quintal de Trocas</h1>
<% end %>

<article class="content">
  <div class="row">
    <div class="col-sm-5">
      <p class="lead" style="font-size: 30px;">QUEM SOMOS</p>

      <div class="person">
        <%= image_tag "team/carol.jpg", class: "thumbnail pull-left", style: "margin-right: 20px" %>
        <p class="lead">Carolina Guedes</p>
        Ana Carolina Guedes, mãe da Maria Beatriz, é gestora cultural e tem como missão promover expansão de consciência para o mundo.</p>
        <p>Uma alma apaixonada pela vida e por movimentos de transformação, colaboração, cuidado, educação e de amor.</p>
        <p>Idealizadora do Quintal de Trocas, uma empresa que busca total horizontalidade em suas relações.</p>
        <p>É empreendedora desde criança. Aos 10 anos já vendia pulseiras feitas por uma maquininha de brinquedo, presente da avó, e aos 14 montou um brechó na garagem de casa.</p>
        <p>Ana Carolina, já morou em Casa Compartilhada, teve carro, bike, guarda roupa compartilhado e é adepta do consumo consciente.</p>
        <p>Atualmente, também escreve textos focados em lançar novas questões para o sistema atual, está terminando um livro sobre educação disruptiva, faz palestras, rodas de conversa e workshops envolvendo todas as suas paixões.</p>
      </div>

      <hr>

      <div class="person">
        <%= image_tag "team/gustavo.jpg", class: "thumbnail pull-left", style: "margin-right: 20px" %>
        <p class="lead">Gustavo Tanaka</p>
        <p>Administrador de empresas por formação, empreendedor por natureza e escritor por vocação. Idealizador do Movimento Empresa Livre, Cocriador da Baobba e do Quintal de Trocas. Por ironia da vida, trabalhou 5 anos no mercado de brinquedos e hoje tenta queimar seu carma estimulando o consumo consciente.</p>
      </div>

      <hr>

      <div class="person">
        <%= image_tag "team/netto.jpg", class: "thumbnail pull-left", style: "margin-right: 20px" %>
        <p class="lead">Osny Santos Netto</p>
        <p>Desenvolvedor web e designer de interfaces. Atua há mais de 10 anos na área, com experiência em projetos para pequenas e grandes empresas, mas recentemente tem se dedicado mais a projetos open-source. Apaixonado por tecnologia e iniciativas que ajudam a tornar a sociedade um lugar melhor para se viver.</p>
      </div>

      <hr>

      <div class="person">
        <%= image_tag "team/raniere.jpg", class: "thumbnail pull-left", style: "margin-right: 20px" %>
        <p class="lead">Raniere Silva</p>
        <p>Pai, marido, desenvolvedor, entusiasta tecnológico e mestre Jedi nas horas vagas. Trabalhou por mais de 20 anos em pequenas, médias e grandes empresas do ramo tecnológico, até deixar o lado sombrio da Força e encontrar a luz. Largou tudo e agora tem a missão de viabilizar tecnologicamente iniciativas voltadas a levar a humanidade um passo adiante no processo de evolução.</p>
      </div>

      <hr>

      <div class="person">
        <%= image_tag "team/jose.jpg", class: "thumbnail pull-left", style: "margin-right: 20px" %>
        <p class="lead">José Carlos Cashana</p>
        <p>Viabilizador de negócios na Make it Happen. Após 10 anos trabalhando em multinacionais de consultoria em gestão empresarial fez sua transição para uma carreira de propósito. Sua missão é ajudar pessoas e empresas à alcançarem sua independência financeira e colaborarem com um mundo mais humano, sustentável e divertido.</p>
      </div>

      <hr>

      <div class="person">
        <%= image_tag "team/audrey.jpg", class: "thumbnail pull-left", style: "margin-right: 20px" %>
        <p class="lead">Audrey Trotta</p>
        <p>Designer, fundadora do site Viva Natural Online, artista desde criança e praticante de meditação. Já trabalhou em grandes empresas, agencias de propaganda e hoje atua como Freelancer. Acredita que a mudança de velhos hábitos, equilíbrio, consciência e compaixão pode transformar pessoas.</p>
      </div>

    </div>
    <div class="col-sm-7">
      <div class="form-content">
        <p>“Era uma vez uma guerreira chamada Ana Carolina, que havia dado à luz uma pequena questionadora do mundo chamada Maria.</p>

        <p>Toda vez que Maria olhava maravilhada o mundo, a guerreira mãe re-conhecia o fantástico mundo em que vivia através dos olhinhos dela...</p>

        <p>Carolina começou a perceber que os "porquês" de Maria davam voz aos "porquês" que também existiam no coração dela.</p>

        <p>Antes de estarem juntas na jornada, ainda quando eram estrelas brilhantes no céu, Carolina e Maria fizeram o mesmo pacto: Cuidar da Mãe Terra!</p>

        <p>E sempre buscar respostas que cuidassem delas, do outro e de sua grande Mãe, também conhecida como Planeta Terra.</p>

        <p>Elas já sabiam que naquele momento tinha chegado a hora de pegar o arco, mirar a flecha e ir à luta... e escolheram fazer isso brincando.</p>

        <p>Maria perguntava:</p>

        <ul>
          <li>Mãe, por que criamos um mundo onde "Ter" é mais importante que "Ser"?</li>
          <li>Mãe, por que tantos plásticos nos oceanos?</li>
          <li>Mãe, o brinquedo que é meu, é de todos? Mas como? Se os recursos saíram do nosso mesmo planeta?</li>
          <li>Mãe, por que muitos adultos falam para as crianças fazerem coisas que eles mesmos têm como desafio fazer?</li>
        </ul>

        <p>Carolina entendia Maria e também ficava inquieta com todas essas questões! Sua pequena questionadora tinha toda a razão, nada disso fazia sentido.</p>

        <p>Foi então que criaram juntas o <strong>Quintal de Trocas</strong>, um espaço destinado a trocas: trocas de “coisas” por “coisas”, “coisas” por dinheiro e até mesmo por experiências (conteúdo compartilhado). Você escolhe como vai brincar!</p>

        <p>O mais legal do Quintal seria que elas poderiam fazer tudo isso brincando. E esse é um dos lemas do Quintal: que ADULTOS E CRIANÇAS SE DIVIRTAM!!</p>

        <p>A palavra brincar, na sua etimologia, significa criar vínculo e é exatamente essa a grande missão dessas guerreiras.</p>

        <p>Foram 2 anos de muita luta, contando com a ajuda de amigos que acreditaram nos olhos brilhantes dessas duas moças… e aos quais elas serão eternamente gratas nessa tão linda jornada. Elas receberam água, mantimentos, abraços, afago, palavras de amor e de apoio.</p>

        <p>Até que em janeiro de 2016, enquanto Maria e Carolina remavam sem parar sua canoa… avistaram sua tribo e com os pés plantados em chão de terra boa, resolveram se unir a essa tribo montando uma EMPRESA LIVRE.</p>

        <p>Lá na Empresa Livre, temos como princípios básicos:</p>

        <ul>
          <li>Ser</li> 
          <li>Brincar</li>
          <li>Rir</li>
        </ul>

        <p>Cuidado consigo, com o outro e com o Planeta.</p>

        <p>Ser exemplo para inspirar outras empresas a serem também livres. Um lugar onde acreditamos na horizontalidade e na importância de cada um de nós. Entendemos como seres humanos que todos têm sua estrela, sua luz, e merecem usufruir de toda a abundância do mundo, já que também somos natureza.</p>

        <p>Nos unimos porque juntos somos mais fortes, porque somos complementares e porque entendemos que sonhar um novo caminho só é possível se olharmos pro AGORA e dermos as mãos.</p>
         
      </div>
    </div>
  </div>
  
</article>