<% content_for :subheader do %>
  <h1>Como funciona</h1>
<% end %>

<br>

<h1 class="text-center" style="font-weight: 200;">O Quintal de Trocas é um site que permite a troca de brinquedos, jogos, livros e fantasias entre crianças. <strong>100% gratuito</strong></h1>

<h2 class="text-center" style="margin: 50px 0 0 0; font-weight: 100; color: #999">Veja como funciona:</h2>

<div class="step">
  <%= image_tag "step1.png", width: 430 %>
  <div class="text">
    <h1><span class="number">1</span> Solicite um brinquedo para troca</h1>
    <p class="lead">Para solicitar uma troca, você precisa ter pelo menos <strong>1 crédito</strong> disponível no site (você ganha um crédito no momento que cadastra um brinquedo, e o crédito fica ativo até você utilizá-lo). Feito isso você escolhe o brinquedo que deseja e solicita ao responsável.</p>
  </div>
</div>

<div class="step right">
  <%= image_tag "step2.png", width: 430 %>
  <div class="text">
    <h1><span class="number">2</span> Aguarde a resposta do responsável</h1>
    <p class="lead">O responsável pelo brinquedo recebe um email e responde se aceita ou não a troca. Caso aceite, ele escolhe se quer trocar o brinquedo por um brinquedo da sua lista, ou por um crédito. Você receberá uma notificação por e-mail sobre a decisão do resposável.</p>
  </div>
</div>

<div class="step">
  <%= image_tag "step3.png", width: 430 %>
  <div class="text">
    <h1><span class="number">3</span> Combinar a troca</h1>
    <p class="lead">Se o responsável pelo brinquedo aceitar a troca, vocês poderão nesse momento combinar como será feita a troca, que pode ser:</p>

    <ul class="lead">
      <li><strong>Pessoalmente</strong> (vocês combinarão data e local para troca) ou</li>
      <li><strong>Por correio</strong> (nesse caso combinarão forma de envio e custeio da entrega).</li>
    </ul>
  </div>
</div>

<div class="step right">
  <%= image_tag "step4.png", width: 430 %>
  <div class="text">
    <h1><span class="number">4</span> Avise quando seu brinquedo chegar</h1>
    <p class="lead">Assim que você receber o brinquedo, você precisará informar no Quintal de Trocas para que a troca seja finalizada, uma vez que a troca é finalizada você ganha confiança na plataforma, e o responsável pelo brinquedo recebe o crédito (caso ele tenha solicitado o crédito em vez do brinquedo).</p>
  </div>
</div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<hr>

<section class="section-video">
  <div class="container">
    <div class="row row-centered">
      <div class="col-md-12">
      <div class="block-primary-video">
        <h2>Assista ao nosso vídeo</h2>
        <iframe width="640" height="350" src="https://www.youtube.com/embed/EEGcsYG_4Q4" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="section-main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="page-header first-step">Seu filho escolhe qual brinquedo quer trocar</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= image_tag "pages/img-03.jpg", class: "img-sm img-border1 img-rounded" %>
      </div>
      <div class="col-md-9">
          <p>É importante que a criança escolha, dentre os seus brinquedos, qual brinquedo deseja oferecer para troca. Assim, ela exercita a capacidade de escolha, o desapego, e participa do processo desde o início.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="page-header second-step">Você tira foto do brinquedo e cadastra no site</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= image_tag "pages/img-04.jpg", class: "img-sm img-border1 img-rounded" %>
      </div>
      <div class="col-md-9">
        <p>Depois de ter escolhido o brinquedo, é hora dos pais (ou responsáveis) tirarem a foto do brinquedo para o cadastro. É muito importante que a foto tenha uma expressão fiel do brinquedo, no estado em que se encontra. O Quintal de Trocas possibilita a inclusão de até 3 fotos, então escolha os ângulos que mostrem bem o que é o brinquedo, incluindo eventuais defeitos.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="page-header third-step">Seu filho escolhe o brinquedo que desperta seu interesse </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= image_tag "pages/img-05.jpg", class: "img-sm img-border1 img-rounded" %>
      </div>
      <div class="col-md-9">
        <p>Este é um dos momentos mais legais da brincadeira, é a hora da criança escolher qual brinquedo quer receber no lugar daquele que está colocando para a troca. Navegue entre as diferentes categorias e filtros, veja as opções e atente para aquela que seu filho mais gosta, marcando a opção desejada. Depois disso, o atual dono do brinquedo vai receber uma mensagem, informando que tem alguém querendo efetuar uma troca!</p>
        <strong>Dicas:</strong>
        <ul class="list-pad">
          <li>Atente para a idade indicativa do brinquedo e tome cuidado com os brinquedos que possuem peças pequenas;</li>
          <li>A escolha da região também é importante, lugares próximos facilitam a troca;</li>
          <li>Se a outra criança não quiser trocar com seu filho, não se preocupe, a frustração tem um papel importante para que ele amadureça e se torne ainda mais forte.</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="page-header fourth-step">Ele escreve uma cartinha contando sua história com o brinquedo</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= image_tag "pages/img-06.jpg", class: "img-sm img-border1 img-rounded" %>
      </div>
      <div class="col-md-9">
        <p>Oferta aceita, é hora de providenciar o envio. Estimule seu filho a escrever uma cartinha (ou a fazer um desenho se ele ainda não souber escrever) contando momentos marcantes da história daquele brinquedo. Nesta hora, a criança resgata um pouco da sua história e revive sentimentos. Mas cuidado... Ao relembrar momentos tão gostosos, é natural que a criança não queira mais trocar. Aproveite para reforçar que todos estes momentos poderão ser vividos pela outra criança, e como será legal receber a história de alguém.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="page-header fifth-step">Efetua a troca</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= image_tag "pages/img-07.jpg", class: "img-sm img-border1 img-rounded" %>
      </div>
      <div class="col-md-9">
        <p>Pronto, agora é só despachar o seu brinquedo pelos correios ou entregá-lo nos postos de troca, de acordo com o que foi combinado durante a negociação. Vocês podem combinar de trocar o brinquedo no mesmo posto, assim, aproveitam para se conhecer e agilizam o processo. Troca feita, é hora de aproveitar o brinquedo novo! Boa diversão! Ah, e não se esqueça que não há limites para trocas, se um brinquedo trocado já não for mais interessante para a criança e estiver em bom estado, faça uma nova troca!</p>
      </div>
    </div>
  </div>
</section>
