<% content_for :subheader do %>
    <h1>Parceiros</h1>
<% end %>
<div class="container">
  <div class="descricao">
    <h2>Quer ser nosso parceiro?</h2>
    <p>
      Fale com a gente! Teremos um enorme prazer em receber o seu e-mail.
      <a href="mailto:parceiros@quintaldetrocas.com.br">Clique aqui</a>.
    </p>
  </div>
  <div class="conteudo">
    <div class="box">
      <a href="http://catracalivre.com.br/sp/editoria/catraquinha/" title="Catraca Livre" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/1400519701537a3c15d1059.png" %>); "></div>
        <h3>Catraca Livre</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://criancaeconsumo.org.br/" title="Criança e Consumo" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/140443722453b602e839b7b.jpg" %>); "></div>
        <h3>Criança e Consumo</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://ecoredesocial.com.br/" title="Eco Rede Social" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/1401909101538f6f6dac84f.jpg" %>); "></div>
        <h3>Eco Rede Social</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://www.acasadasideias.com.br/" title="Casa das Ideias" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/1400519256537a3a58a8f98.png" %>); "></div>
        <h3>Casa das Ideias</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://www.cinematerna.org.br/" title="CineMaterna" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/14010781425382c17e344b2.jpg" %>); "></div>
        <h3>CineMaterna</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://alana.org.br/" title="Instituto Alana" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/140443730253b60336328f9.jpeg" %>); "></div>
        <h3>Instituto Alana</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://www.espacodeleitura.org.br" title="Espaço de Leitura" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/1400712152537d2bd8d4a15.jpg" %>); "></div>
        <h3>Espaço de Leitura</h3>
      </a>
    </div>
    <div class="box">
      <a href="https://www.facebook.com/pages/Amigos-do-CEU-de-Maric%C3%A1/705676549491346?fref=ts" title="CEU" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/140545591253c58e281af49.jpg" %>); "></div>
        <h3>CEU</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://www.sampasling.com.br/" title="Sampa Sling" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/1400519981537a3d2d48984.jpeg" %>); "></div>
        <h3>Sampa Sling</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://mamusca.com.br/site/" title="Mamusca" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/1400519027537a39731cb4c.jpg" %>); "></div>
        <h3>Mamusca</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://ninguemcrescesozinho.com/" title="Ninguém Cresce Sozinho" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/1400715577537d3939ef55c.jpg" %>); "></div>
        <h3>Ninguém Cresce Sozinho</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://www.commadre.com.br/" title="Commadre" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/1400520152537a3dd885380.png" %>); "></div>
        <h3>Commadre</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://mamatraca.com.br/" title="Mamatraca" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/1400800939537e86ab368d6.jpg" %>); "></div>
        <h3>Mamatraca</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://www.macetesdemae.com/" title="Macetes de Mãe" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/1401759920538d28b096496.jpg" %>); "></div>
        <h3>Macetes de Mãe</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://www.espacoarete.com.br/" title="Espaço Areté" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/1400520402537a3ed2dee31.png" %>); "></div>
        <h3>Espaço Areté</h3>
      </a>
    </div>
    <div class="box">
      <a href="https://www.facebook.com/festasnoatelierfazendoarte?fref=ts" title="Atelier Fazendo Arte" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/1400521042537a41529ad6f.jpg" %>); "></div>
        <h3>Atelier Fazendo Arte</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://www.playtoy.com.br" title="Playtoy Brinquedos" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/1400521581537a436d8725b.jpg" %>); "></div>
        <h3>Playtoy Brinquedos</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://www.casatupiniquim.com.br/" title="Casa Tupiniquim" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/1400519197537a3a1d6de88.jpeg" %>); "></div>
        <h3>Casa Tupiniquim</h3>
      </a>
    </div>
    <div class="box">
      <a href="https://www.facebook.com/pages/Brinquedoteca-Giz-de-Cera/506754206075978?fref=ts" title="Brinquedoteca Giz de Cera" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/1400521792537a4440db00c.png" %>); "></div>
        <h3>Brinquedoteca Giz de Cera</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://www.culturainfantilearte.blogspot.com.br/" title="Cultura Infantil" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/1401741831538ce20788b02.jpg" %>); "></div>
        <h3>Cultura Infantil</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://www.peperomia.com.br/" title="Peperômia" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/1400529246537a615e2c4e4.jpg" %>); "></div>
        <h3>Peperômia</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://www.casadobrincar.com.br/site/" title="Casa do Brincar" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/1399690396536d949c8fb08.png" %>); "></div>
        <h3>Casa do Brincar</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://revistacrescer.globo.com/" title="Crescer On Line" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/1400816941537ec52dd8332.jpg" %>); "></div>
        <h3>Crescer On Line</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://www.bolhinhasdesabaoparamaria.com.br/" title="Bolinhas de Sabão para Maria" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/140849989753f400b9ee8d4.png" %>); "></div>
        <h3>Bolinhas de Sabão para Maria</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://www.milc.net.br" title="Milc" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/1400712125537d2bbd04271.jpg" %>); "></div>
        <h3>Milc</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://conscienciaeconsumo.com.br/" title="Consciência e Consumo" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/140356795153a8bf4febcee.jpg" %>); "></div>
        <h3>Consciência e Consumo</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://www.camilaselli.com/" title="Camila Sélli - Fotografia" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/140356859453a8c1d2bf0f6.jpg" %>); "></div>
        <h3>Camila Sélli - Fotografia</h3>
      </a>
    </div>
    <div class="box">
      <a href="https://www.facebook.com/lojaninho" title="Tico-Tico no Fubá" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/140383699053acda3edf497.jpg" %>); "></div>
        <h3>Tico-Tico no Fubá</h3>
      </a>
    </div>
    <div class="box">
      <a href="https://app.quintaldavila.com.br/" title="Quintal da Vila" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/140443656253b60052a01e5.jpg" %>); "></div>
        <h3>Quintal da Vila</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://www.lojaninho.com.br/" title="O Ninho" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/140443666353b600b76de50.jpg" %>); "></div>
        <h3>O Ninho</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://uspnaescolinha.blogspot.com.br/" title="USP na Escolinha" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/140549196353c61afb7ba4b.png" %>); "></div>
        <h3>USP na Escolinha</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://www.traquinarte.com/" title="Traquinarte" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/140443704153b60231c796d.jpg" %>); "></div>
        <h3>Traquinarte</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://diarioquintal.blogspot.com.br/" title="Quintal" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/140549148053c61918337fd.jpg" %>); "></div>
        <h3>Quintal</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://www.maevaidosa.com/" title="Mãe Vaidosa" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/140453320053b779d048d8d.jpg" %>); "></div>
        <h3>Mãe Vaidosa</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://ldberco.tumblr.com/" title="Literatura de Berço" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/14014209015387fc65602e2.jpg" %>); "></div>
        <h3>Literatura de Berço</h3>
      </a>
    </div>
    <div class="box">
      <a href="http://www.roteirokids.com.br/" title="Roteiro Kids" target="_blank">
        <div class="img" style="background-image: url(<%= image_url "partners/140540427553c4c473a36e5.jpg" %>); "></div>
        <h3>Roteiro Kids</h3>
      </a>
    </div>
  </div>
</div>