<div class="row">
  <div class="col-sm-3">
    <%= render '/layouts/nav_dashboard' %>
  </div>
  <div class="col-sm-9">

    <div class="page-header">
      <h1>Meus créditos</h1>
    </div>

    <div class="well credits-count">
      <div class="row">
        <div class="col-sm-3">
          <p class="lead">Total de créditos:</p>
        </div>
        <div class="col-sm-2">
          <h3><%= @cred_avail %></h3>
          <span class="text-muted">disponíveis</span>
        </div>
        <div class="col-sm-2">
          <h3><%= @cred_expir %></h3>
          <span class="text-muted">expirados</span>
        </div>
        <div class="col-sm-2">
          <h3><%= @cred_used %></h3>
          <span class="text-muted">utilizados</span>
        </div>
      </div>
    </div>

    <% if @credits.count > 0 %>
      
    <table class="table">
      <thead>
        <tr>
          <th width="40%">Troca</th>
          <th width="40%">Status</th>
          <th width="30%" class="text-right">Adicionado em</th>
        </tr>
      </thead>

      <tbody>
        <% @credits.each do |credit| %>
          <tr>
            <td>
              <% if credit.exchange %>
                Crédito adquirido pela <%= link_to "troca ##{credit.exchange.id}", exchange_path(credit.exchange.id) %>
              <% elsif credit.item %>
                Crédito adquirido pelo cadastro:<br>
                <%= link_to credit.item.title, item_path(credit.item) %>
              <% else %>
                Crédito adquirido em promoção
              <% end %>
            </td>
            <td>
              <% if credit.available? %>
                <span class="label label-success">Disponível</span>
              <% elsif !credit.used_in_exchange_id.blank? %>
                <span class="label label-default">
                  Utilizado em <%= credit.updated_at.strftime('%d/%m/%Y %H:%M') %>
                </span><br> na <%= link_to "troca ##{credit.used_in_exchange_id}", exchange_path(credit.used_in_exchange_id) %>
              <% elsif credit.expired_at %>
                <span class="label label-danger">
                  Exirado em <%= credit.expired_at.strftime('%d/%m/%Y %H:%M') %>
              <% end %>
            </td>
            <td class="text-right"><%= credit.created_at.strftime("%d/%m/%Y %H:%M") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <div class="alert alert-danger text-center">
        <h4>Você não possui nenhum crédito ainda.</h4>
        <p class="lead">Para ganhar um crédito, você precisa cadastrar um brinquedo deixando-o disponível para troca.</p>
        <%= link_to "Cadastrar brinquedo", new_item_path, class: "btn btn-success btn-lg" %>
      </div>
    <% end %>

  </div>
</div>
