<div class="hey">
<div class="item-list">

  <div class="item-filter">
    <%= search_form_for(@q, class: "item-filter form-inline") do |f| %>
      <div class="main">
        <div class="form-group">
          <label>Buscar pelo título</label>
          <%= f.text_field :title_cont, :class=> "form-control", placeholder: "Digite aqui..." %>
        </div>
        <div class="form-group within">
          <label>Distância</label>
          <div class="input-group">
            <%= text_field_tag :within, (params[:within] || 50), class: "form-control" %>
            <span class="input-group-addon">km</span>
          </div>
        </div>
        <div class="form-group city">
          <label>Região</label>
          <%= text_field_tag :city_eq, (params[:city_eq] || (current_user && current_user.city && current_user.state ? "#{current_user.city} - #{current_user.state}" : nil) || (lookup_ip_location ? lookup_ip_location.city : nil)), class: "form-control" %>
        </div>
        <div class="form-group">
          <br>
          <%= f.submit "Filtrar", :class => "btn btn-default" %>
        </div>
      </div>

      <div class="form-group">
        <label>Faixa etária</label>
        <%= f.select(:item_age_id_eq, options_from_collection_for_select(ItemAge.order("title ASC"), "id", "title", (params[:q][:item_age_id_eq] if !params[:q].blank?)), {include_blank: "Todas"}, :class=> "form-control" ) %>
      </div>
      <div class="form-group">
        <label>Categoria</label>
        <%= f.select(:item_category_id_eq, options_from_collection_for_select(ItemCategory.order("title ASC"), "id", "title", (params[:q][:item_category_id_eq] if !params[:q].blank?)), {include_blank: "Todas"}, :class=> "form-control" ) %>
      </div>

      
    <% end %>
  </div>

  <div class="item-content">
  
  <% if @items.total_count > 0 %>

    <div class="pull-right">
      Ordenar por:
      <%= sort_link @q, :created_at, 'mais recentes', default_order: :desc %> |
      <%= sort_link @q, :distance, 'mais próximos', default_order: :desc %>
    </div>

    <div class="lead" style="margin-left: 20px;">
      Mostrando <strong><%= Item.default_per_page >= @items.size ? @items.size : item.default_per_page %></strong> de <%= @items.total_count %> brinquedos
    </div>

    <ul class="cards list-unstyled">
      <%= render @items %>
    </ul>
  <% else %>
    <div class="alert alert-danger text-center">
      <h4>Nenhum brinquedo encontrado</h4>
      <p class="lead">Tente outro termo ou modifique a distância de busca ou<br>
      <strong><%= link_to "veja todos os brinquedos", items_path(tipo: "todos") %></strong>
    </div>
  <% end %>
  

  <div class="clearfix"></div>

  <div class="text-center">
    <%= link_to_next_page @items, 'Veja mais', params: params, remote: true, id: "load_more_link", class: "btn btn-lg btn-quintal" %>
  </div>
  </div>
</div>
<div class="item-map">

  <div id="map_wrapper">
    <div id="map_canvas" class="mapping"></div>
  </div>

  <p class="lead hide">
    <span class="user-location-lat"><%= lookup_ip_location.latitude if lookup_ip_location %></span>
    <span class="user-location-lon"><%= lookup_ip_location.longitude if lookup_ip_location %></span>
  </p>

</div>
</div>

<div class="clearfix"></div>


<div class="hide">
  <p class="lead">Refine sua busca</p>

  <%= search_form_for(@q, class: "item-filter") do |f| %>

    <div class="form-group">
      <label>Buscar por:</label>
      <%= f.text_field :title_cont, :class=> "form-control" %>
    </div>

    <div class="form-group">
      <label>Faixa etária:</label>
      <% ItemAge.all.each do |cat| %>

        <div class="checkbox" style="margin:0;"><label style="font-size: 11px;min-height:15px;">
          <%# f.check_box :item_age_id_in, {}, cat.id, true, false %>
          <%= check_box_tag('q[item_age_id_in][]', cat.id, params[:q] && params[:q][:item_age_id_in] && params[:q][:item_age_id_in].include?(cat.id.to_s) ? params[:q][:item_age_id_in] : nil ) %>
          <%= cat.title %>
        </label></div>
      <% end %>
    </div>

    <div class="form-group">
      <label>Categoria:</label>
      <% ItemCategory.all.each do |cat| %>

        <div class="checkbox" style="margin:0;"><label style="font-size: 11px;min-height:15px;">
          <%= check_box_tag('q[item_category_id_in][]', cat.id, params[:q] && params[:q][:item_category_id_in] && params[:q][:item_category_id_in].include?(cat.id.to_s) ? params[:q][:item_category_id_in] : nil ) %>
          <%= cat.title %>
        </label></div>
      <% end %>
      <%# f.select(:item_category_id_eq, options_from_collection_for_select(ItemCategory.all, "id", "title", (params[:q][:item_category_id_eq] if !params[:q].blank?)), {include_blank: "Selecione..."}, :class=> "form-control" ) %>
    </div>

    <div class="form-group">
      <%= f.submit "Fitrar", :class => "btn btn-primary" %>
    </div>

    <br>
    <br>
    <%= link_to 'Cadastrar brinquedo', new_item_path, class: "btn btn-default" %>
  <% end %>
</div>

<div class="banner text-center">
  <h3>Um brinquedo que circula<br>é uma brincadeira que continua</h3>
  <%= link_to "Como funciona", how_it_works_path, class: "btn btn-lg btn-default" %>
</div>
<div class="testimonials">
  
  <p class="lead text-center">O que estão falando do quintal...</p>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 margin-btm-20">
        <div class="quote dark">
          <blockquote>
            <p>
              Eu acho muito importante essa iniciativa do Quintal de Trocas, porque todo brinquedo passa a ter um valor maior do que simplesmente o de entretenimento, passa a ser uma ação e a colocar a criança como o negociador de seus interesses.
            </p>
          </blockquote>
        </div>
        <div class="quote-footer">
          <div class="quote-author-img">
            <%= image_tag "testimonials/mauro.jpg" %>
          </div>
          <h4>Mauro Medeiros<br>e sua filha, Ana Carolina</h4>
        </div>
      </div>
      
      <div class="col-md-6 margin-btm-20">
        <div class="quote dark">
          <blockquote>
            <p>
              Eu acredito que SER é mais importante que ter. Eu acredito em mim, acredito em você, e sei que juntos somos fortes! Não importa o tamanho da sua colaboração, "de grão em grão, a galinha enche o papo", e teremos um quintal mais forte para plantarmos um novo mundo.
            </p>
          </blockquote>
        </div>
        <div class="quote-footer">
          <div class="quote-author-img">
            <%= image_tag "testimonials/isabella.jpg" %>
          </div>
          <h4>Isabella Luchi, Cantora lírica</h4>
        </div>
      </div><!--colored quote box col-->
    </div><!--testimonials row-->
  </div>

  <div class="text-center hide">
    <br><%= link_to "Veja mais", media_path, class: "btn btn-default" %>
  </div>

</div>

<div class="press text-center">
  <p class="lead">Quintal na mídia</p>
  
  <div class="logos">
    <%= link_to image_tag("media/logo-catraca-livre.png"), "https://catraquinha.catracalivre.com.br/geral/economizar/indicacao/compartilhe-brinquedos-e-outros-itens-infantis-no-quintal-de-trocas/", target: "_blank" %>

    <%= link_to image_tag("media/logo-pegn.png"), "http://g1.globo.com/economia/pegn/videos/t/edicoes/v/economia-compartilhada-e-novidade-no-setor-de-tecnologia/5009546/", target: "_blank" %>

    <%= link_to image_tag("media/logo-tv-cultura.png"), "https://www.youtube.com/watch?v=llAC0CiWIE4", target: "_blank" %>

    <%= link_to image_tag("media/logo-projeto-draft.png"), "http://projetodraft.com/como-nasceu-um-dos-maiores-portais-de-negociacao-de-brinquedos-do-brasil-o-quintal-de-trocas/#sthash.gYTjlJNB.dpuf", target: "_blank" %>

    <%= link_to image_tag("media/logo-folha.png"), "http://www.quintaldetrocas.com.br/", target: "_blank" %>
    
  </div>
  
  <%= link_to "Veja mais", media_path, class: "btn btn-default btn-quintal" %>
  </div>
</div>