<h2>Olá <%= @user_to.first_name %>,</h2>

<p><strong><%= @user_from.name %></strong> solicitou uma troca de brinquedo. Veja mais detalhes no link abaixo e responda se aceita a troca ou não.</p>

<p>Brinquedo solicitado:</p>

<div class="item-detail">
  <%= image_tag @exchange.to_item.fet_image.image.url(:thumb), width: 90, class: "pull-left" %>
  <%= link_to @exchange.to_item.title, item_path(@exchange.to_item) if @exchange.item %>
  <p>
    <% if @exchange.item.item_age %>
      Faixa etária: <%= @exchange.item.item_age.title %><br>
    <% end %>
    <% if @exchange.item.item_category %>
      Categoria: <%= @exchange.item.item_category.title %>
    <% end %>
  </p>

  <div class="call-to-action">&raquo; <%= link_to "Ver detalhes e responder", exchange_url(@exchange.id) %></div>
</div>


<p class="small">Caso você não tenha interesse em nenhum brinquedo do solicitante, você poderá trocar por 1 crédito (que poderá ser trocado por outro brinquedo de outra pessoa que você possa se interessar).</p>