<% if @item.user && current_user %>

    
    <!-- Modal -->
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Solicitar troca com <%= @item.user.name %></h4>
        </div>
        <div class="modal-body">

          <% if current_user.credits.available.count > 0 %>
            <%= simple_form_for(@exchange) do |f| %>
              <%= f.hidden_field :user_id, value: (current_user ? current_user.id : nil) %>
              <%= f.hidden_field :item_to %>
              <%= f.hidden_field :user_to, value: @item.user_id %>

              <div class="alert alert-info text-center">
                <p>A pessoa receberá essa mensagem e irá decidir se troca por 1 crédito seu ou algum brinquedo da sua lista.</p><br>
                <h4>Dúvidas? <%= link_to "Veja como funciona", how_it_works_path, target: "_blank" %></h4>
              </div>

              <%= f.simple_fields_for :exchange_messages do |ff| %>
                <%= ff.hidden_field :user_id, value: current_user.id %>
                <%= ff.hidden_field :user_from, value: current_user.id %>
                <%= ff.hidden_field :user_to, value: @item.user.id %>

                <div class="form-group">
                  <label>Mensagem</label>
                  <%= ff.text_area :message, value: "Olá #{@item.user.name},\nGostei bastante desse brinquedo e gostaria de saber se é possível trocarmos.", class: "form-control", rows: 4 %>
                </div>
              <% end %>

              <div class="form-group">
                <%= button_tag(type: 'submit', class: "btn btn-success btn-lg") do %>
                  <i class="fa fa-paper-plane"></i> Enviar solicitação
                <% end %>
              </div>
            <% end %>
          <% else %>
            <div class="alert alert-danger text-center">
              Para poder solicitar um brinquedo você precisa ter pelo menos <strong>1 crédito</strong> disponível.<br>Você adquiri um crédito ao cadastrar um brinquedo para troca.
            </div>
            <div class="text-center">
              <br>
              <p class="lead">Continue a brincadeira...</p>
              <%= link_to "Cadastrar brinquedo", new_item_path, class: "btn btn-success" %></div><br>
            </div>
          <% end %>

        </div>
      </div>
    </div>

<% end %>
