<%= form_for(@toy_image) do |f| %>
  <% if @toy_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@toy_image.errors.count, "error") %> prohibited this toy_image from being saved:</h2>

      <ul>
      <% @toy_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :toy_id %><br>
    <%= f.text_field :toy_id %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
