<h1>Listing Toy_images</h1>

<table>
  <thead>
    <tr>
      <th>Toy</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @toy_images.each do |toy_image| %>
      <tr>
        <td><%= toy_image.toy %></td>
        <td><%= toy_image.image %></td>
        <td><%= link_to 'Show', toy_image %></td>
        <td><%= link_to 'Edit', edit_toy_image_path(toy_image) %></td>
        <td><%= link_to 'Destroy', toy_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Toy image', new_toy_image_path %>
