<%= simple_form_for(@place) do |f| %>

  <% if @place.errors.any? %>
    <div class="alert alert-danger">
      <p class="lead"><%= pluralize(@place.errors.count, "error") %> erro(s) encontrado(s). Verifique abaixo:</p>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title %>

  <%= f.input :office_hours %>

  <%= f.input :phone %>
  <%= f.input :phone_alt %>

  <%= f.input :zipcode %>
  <span class="cep-feedback"></span>
  <%= f.input :street %>
  <%= f.input :city %>
  <%= f.input :state %>

  <%= f.button :submit, class: "btn btn-success btn-lg" %>
<% end %>
