<% content_for :subheader do %>
  <h1>Pontos de troca</h1>
  <p class="lead">O Quintal de Trocas é 100% gratuito</p>
<% end %>

<div class="row">
  <div class="col-sm-8">

    <div class="place-filter-box">
      <%= search_form_for(@q, class: "place-filter form-inline") do |f| %>

        <div class="form-group">
          <label>Buscar por:</label>
          <%= f.text_field :title_cont, :class=> "form-control" %>
        </div>

        <div class="form-group">
          <label>Cidade:</label>
          <%= f.text_field :city_eq, :class=> "form-control", value: (params[:city_eq] || lookup_ip_location.city) %>
        </div>

        <div class="form-group">
          <label>Estado:</label>
          <%= f.select :state_eq, option_estados_for_select, { include_blank: "Selecione..." }, :class=> "form-control" %>
        </div>
      
        <div class="form-group">
          <label>&nbsp;</label>
          <%= f.submit "Filtrar", :class => "btn btn-default" %>
        </div>

      <% end %>
      
    </div>


    <ul class="cards stack list-unstyled">
      <%= render @places %>
    </ul>

    <div class="clearfix"></div>

    <div class="text-center">
      <%= link_to_next_page @places, 'Veja mais', remote: true, id: "load_more_link", class: "btn btn-default btn-default" %>
    </div>

    
  </div>
  <div class="col-sm-4">

    <div class="xxx">
      <p class="lead">Perguntas frequentes</p>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">

        <div class="media">
          <div class="media-left">
            <%= image_tag "img-49.png", width: 70 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Ponto de trocas</h4>
            <p>Visitas à loja por público segmentado. A pessoa que irá trocar conhecerá um estabelecimento preocupado com a sustentabilidade.</p>
            <p>Nota: Só empresas realmente preocupadas com a sustentabilidade poderão ser pontos de troca.</p>
          </div>
        </div>

        <hr>

        <div class="media">
          <div class="media-left">
            <%= image_tag "img-50.png", width: 70 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Sociedade</h4>
            <p>Possibilita que mais crianças troquem os seus brinquedos, livros e fantasias sem gasto algum! Além disso, ainda fazem novos amigos e ganham mais tempo para a brincadeira.</p>
          </div>
        </div>

        <hr>

        <div class="media">
          <div class="media-left">
            <%= image_tag "img-51.png", width: 70 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Quintal de trocas</h4>
            <p>Um ambiente seguro e agradável para as pessoas na hora da troca.</p>
          </div>
        </div>
    
      </div>
    </div>

  </div>

</div>

