<% content_for :subheader do %>
  <h1>Pontos de troca</h1>
  <p class="lead">O Quintal de Trocas é 100% gratuito</p>
<% end %>

<div class="row">
  <div class="col-sm-8">

    <div class="place-filter-box">
      <%= search_form_for(@q, class: "place-filter form-inline") do |f| %>

        <div class="form-group">
          <label>Buscar por:</label>
          <%= f.text_field :title_cont, :class=> "form-control" %>
        </div>

        <div class="form-group">
          <label>Estado:</label>
          <%= f.select :state_eq, options_for_select([["Acre", "AC"],
    ["Alagoas", "AL"],
    ["Amapá", "AP"],
    ["Amazonas", "AM"],
    ["Bahia", "BA"],
    ["Ceará", "CE"],
    ["Distrito Federal", "DF"],
    ["Espírito Santo", "ES"],
    ["Goiás", "GO"],
    ["Maranhão", "MA"],
    ["Mato Grosso", "MT"],
    ["Mato Grosso do Sul", "MS"],
    ["Minas Gerais", "MG"],
    ["Pará", "PA"],
    ["Paraíba", "PB"],
    ["Paraná", "PR"],
    ["Pernambuco", "PE"],
    ["Piauí", "PI"],
    ["Rio de Janeiro", "RJ"],
    ["Rio Grande do Norte", "RN"],
    ["Rio Grande do Sul", "RS"],
    ["Rondônia", "RO"],
    ["Roraima", "RR"],
    ["Santa Catarina", "SC"],
    ["São Paulo", "SP"],
    ["Sergipe", "SE"],
    ["Tocantins", "TO"]
  ], selected: (params[:state_eq] || lookup_ip_location.data["region_code"])), { include_blank: "Selecione...",  }, :class=> "form-control" %>
        </div>
      
        <div class="form-group">
          <label>&nbsp;</label>
          <%= f.submit "Filtrar", :class => "btn btn-default" %>
        </div>

      <% end %>
      
    </div>


    <ul class="cards stack list-unstyled">
      <%= render @places %>
    </ul>

    <div class="clearfix"></div>

    <div class="text-center">
      <%= link_to_next_page @places, 'Veja mais', remote: true, id: "load_more_link", class: "btn btn-default btn-default" %>
    </div>

    
  </div>
  <div class="col-sm-4">

    <div class="panel panel-default faq-box">
      <div class="panel-body">
        <p class="lead">Perguntas frequentes</p>
        <a href="#" data-toggle="modal" data-target="#faq1"><span class="glyphicon glyphicon-question-sign"></span> O que é um Ponto de Trocas?</a>
        <a href="#" data-toggle="modal" data-target="#faq2"><span class="glyphicon glyphicon-question-sign"></span> Ainda não tem Ponto de Trocas perto de você?</a>
        <a href="#" data-toggle="modal" data-target="#faq3"><span class="glyphicon glyphicon-question-sign"></span> Quer ser um Ponto de Trocas?</a>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">

        <div class="media">
          <div class="media-left">
            <%= image_tag "img-49.png", width: 70 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Ponto de trocas</h4>
            <p>Visitas à loja por público segmentado. A pessoa que irá trocar conhecerá um estabelecimento preocupado com a sustentabilidade.</p>
            <p>Nota: Só empresas realmente preocupadas com a sustentabilidade poderão ser pontos de troca.</p>
          </div>
        </div>

        <hr>

        <div class="media">
          <div class="media-left">
            <%= image_tag "img-50.png", width: 70 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Sociedade</h4>
            <p>Possibilita que mais crianças troquem os seus brinquedos, livros e fantasias sem gasto algum! Além disso, ainda fazem novos amigos e ganham mais tempo para a brincadeira.</p>
          </div>
        </div>

        <hr>

        <div class="media">
          <div class="media-left">
            <%= image_tag "img-51.png", width: 70 %>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Quintal de trocas</h4>
            <p>Um ambiente seguro e agradável para as pessoas na hora da troca.</p>
          </div>
        </div>
    
      </div>
    </div>

  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="faq1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">O que é um Ponto de Trocas?</h4>
      </div>
      <div class="modal-body">
        <p>É um estabelecimento parceiro do Quintal de Trocas que atua como uma referência física para os participantes do portal. O Ponto de Trocas compartilha dos mesmos valores do Quintal: sustentabilidade, consumo consciente e respeito a sociedade.</p>

        <p>O Quintal de Trocas é 100% gratuito e crianças de todas as regiões do Brasil podem trocar utilizando o site.</p>

        <p class="lead">Como?</p>
        <ul>
          <li>Pelos Correios (que atendem todo o Brasil)</li>
          <li>Pessoalmente, em qualquer lugar pré-combinado entre as partes *</li>
          <li>Ou através dos Pontos de Trocas ....</li>
        </ul>

        <small>(*) O Quintal sugere que a troca seja combinada num lugar movimentado (como museus, bibliotecas, etc.)</small>

      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="faq2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Ainda não tem Ponto de Trocas perto de você?</h4>
      </div>
      <div class="modal-body">
        <p>Não se preocupe, você pode trocar normalmente combinando em algum lugar de sua preferência ou pelos correios. O Quintal de Trocas é para todo o Brasil e muitas pessoas já trocaram, mesmo não tendo um Ponto de Trocas por perto. De qualquer forma, estamos trabalhando intensamente para ampliar a lista e, a cada dia, mais e mais parceiros se juntam ao Quintal.</p>

      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="faq3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Quer ser um Ponto de Trocas?</h4>
      </div>
      <div class="modal-body">
        <p>Como a proposta do Quintal é criar uma aliança cada vez mais forte, foi desenvolvido um processo simples e específico para o cadastro e tratamento das empresas e instituições que também querem ser um Ponto de Trocas.</p>

        <p>Basta preencher e enviar o formulário deste endereço: http://goo.gl/h1Y4Mi</p>

        <p>Espalhados por diferentes cidades Brasil afora, estes pontos são verdadeiros alidados pela infância. É importante ressaltar que o Ponto de Trocas não precisa fazer nada além de se posicionar como um ponto de encontro para as crianças e responsáveis, simples assim!</p>

        <p>Se você não é um Ponto de Trocas, mas conhece algum lugar bem bacana na sua cidade, mande um email para nós ou fale com o espaço da sua cidade sobre o Quintal.</p>

        <p>Seja você um agente transformador:  contato@quintaldetrocas.com.br</p>

      </div>
    </div>
  </div>
</div>