<div class="row">
  <div class="col-sm-3">
    <%= render '/layouts/nav_dashboard' %>
  </div>
  <div class="col-sm-9">


<div class="page-header">
  <h1>
    Meus Pontos de troca
    <%= link_to '<span class="glyphicon glyphicon-plus"></span> Cadastrar ponto de troca'.html_safe, new_place_path, class: "btn btn-primary btn-new" %>
  </h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Título</th>
      <th>Contatos</th>
      <th>Local</th>
      <th class="text-right"></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= link_to place.title, place %></td>
        <td>
          <%= place.phone %>
          <%= "<br>#{place.phone}".html_safe if place.phone %>
        </td>
        <td><%= place.city %></td>
        <td class="text-right">
          <%= link_to "<span class='glyphicon glyphicon-pencil'></span> Alterar".html_safe, edit_place_path(place), :class => 'btn btn-sm btn-link' %>&nbsp;&nbsp;

          <%= link_to "<span class='glyphicon glyphicon-trash'></span> Excluir".html_safe, place, method: :delete, confirm: 'Você tem certeza que deseja excluir?', class: "delete btn btn-sm btn-link" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>
