<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

        <div class="row">
          <div class="col-sm-6">
            <p class="lead">Institucional</p>
            <ul class="list-unstyled">
              <li><%= link_to "Quem somos", about_us_path %></li>
              <li><%= link_to "Parceiros", partners_path %></li>
              <li><%= link_to "Como funciona", how_it_works_path %></li>
              <li><%= link_to "Brinquedos", toys_path %></li>
              <li><%= link_to "Pontos de troca", places_path %></li>
              <li><%= link_to "Colunas e Novidades", articles_path %></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <p class="lead">Atendimento</p>
            <ul class="list-unstyled">
              <li><%= link_to "Fale conosco", contact_us_path %></li>
              <li><%= link_to "Perguntas Frequentes", faq_path %></li>
              <li><%= link_to "Apoie", partners_path %></li>
              <li><%= link_to "Ajuda", faq_path %></li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-sm-6 text-right">
        <%= image_tag "logo-quintal-de-trocas.svg", width: 140 %><br><br>
        <small>© 2016 - Quintal de Trocas - Direitos reservados</small>
      </div>
    </div>

  </div>
</footer>
