<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul>
          <li><%= link_to "Parceiros", partners_path %></li>
          <li><%= link_to "Como funciona", how_it_works_path %></li>
          <li><%= link_to "Brinquedos", toys_path %></li>
          <li><%= link_to "Pontos de troca", places_path %></li>
          <li><%= link_to "Colunas e Novidades", articles_path %></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <ul>
          <li><%= link_to "Depoimentos", testimonials_path %></li>
          <li><%= link_to "Na mídia", media_path %></li>
          <li><%= link_to "Apoie", partners_path %></li>
        </ul>
      </div>
    </div>
    <small>© 2016 - Quintal de Trocas - Direitos reservados</small>
  </div>
</footer>