<footer>
  <div class="h-line"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">

        <div class="row">
          <div class="col-sm-6">
            <p class="lead">Institucional</p>
            <ul class="list-unstyled">
              <li>&raquo; <%= link_to "Quem somos", about_us_path %></li>
              <li>&raquo; <%= link_to "Parceiros", partners_path %></li>
              <li>&raquo; <%= link_to "Como funciona", how_it_works_path %></li>
              <li>&raquo; <%= link_to "Brinquedos", items_path %></li>
              <li>&raquo; <%= link_to "Colunas e Novidades", articles_path %></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <p class="lead">Atendimento</p>
            <ul class="list-unstyled">
              <li>&raquo; <%= link_to "Fale conosco", contact_us_path %></li>
              <li>&raquo; <%= link_to "Perguntas Frequentes", faq_path %></li>
              <li>&raquo; <%= link_to "Apoie", support_path %></li>
              <li>&raquo; <%= link_to "Ajuda", faq_path %></li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col-sm-6 text-right">
        <%= link_to (image_tag 'logo-quintal.svg', width: 140), root_path %><br><br>

        <%= link_to "Política de privacidade", privacy_url, "data-toggle" => "modal", "data-target" => "#footer_text", class: "btn-footer privacy" %> &nbsp;&nbsp;| &nbsp;

        <%= link_to "Termos e condições de uso", terms_url, "data-toggle" => "modal", "data-target" => "#footer_text", class: "btn-footer terms" %><br><br>

        <small>© 2016 - Quintal de Trocas - Direitos reservados</small>
      </div>
    </div>

  </div>
</footer>

<div class="modal fade" id="footer_text" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
