<li><%= link_to "Meu perfil", user_path(current_user) %></li>
<li><%= link_to "Alterar dados pessoais", edit_user_registration_path %></li>
<li><%= link_to "Meus brinquedos", my_items_path %></li>
<li><%= link_to "Minhas trocas (#{current_user.exchanges_received.waiting.count})", my_exchanges_path %></li>
<li><%= link_to "Meus créditos", my_credits_path %></li>
<li><%= link_to "Minhas compras", my_orders_path %></li>