<header>
  <nav class="navbar navbar-quintal">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to (image_tag "logo-quintal-de-trocas.svg", width: 140, style: "top:-10px"), root_path %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li><%= link_to "Sobre", about_us_path %></li>
          <li><%= link_to "Brinquedos", toys_path %></li>
          <li><%= link_to "Pontos de troca", places_path %></li>
          <li><%= link_to "Como funciona", how_it_works_path %></li>
          <li><%= link_to "Na mídia", media_path %></li>
          <li><%= link_to "Parceiros", partners_path %></li>
          <li><%= link_to "Apoie", partners_path %></li>

          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name.blank? ? current_user.email : current_user.name.split(" ").first %> <span class="caret"></span></a>

              <% #if current_user.is_admin? %>
                <!-- <span class="label label-warning">Administrador</span> -->
              <% #end %>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><%= link_to "Admin", new_admin_user_session_path %></li>

                <li><%= link_to "Alterar dados pessoais", edit_user_registration_path %></li>
                <li><%= link_to "Meus brinquedos", my_toys_path %></li>
                <li><%= link_to "Minhas trocas", my_exchanges_path %></li>
                <li><%= link_to "Meus pontos de troca", my_places_path %></li>
                <li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>

        </ul>
        
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>