<li><%= link_to "Alterar dados pessoais", edit_user_registration_path %></li>
<li role="separator" class="divider"></li>
<li class="dropdown-header"><%= current_user.store.name %></li>
<li><%= link_to "Visualizar minha loja", store_path(current_user.store) %></li>
<li><%= link_to "Alterar dados da loja", edit_store_path(current_user.store) %></li>
<li><%= link_to "Produtos", my_items_path %></li>
<li><%= link_to "Minhas vendas", my_sales_path %></li>
