<div class="modal fade login" id="login">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <p class="lead" style="margin-bottom: 0;">Faça seu login</h2>
      </div>
      <div class="modal-body" style="padding-top: 30px;padding-bottom: 10px;">
        
        <%# form_tag( "", :id => 'login_modal') do %>
        <%= form_for(resource, :as => resource_name, url: session_path(resource_name),:html => {:id => "login-box"}, :format => :json, :remote => true ) do |f| %>
          
          <%= devise_error_messages! %>
          <span class="status"></span>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="checkbox">
              <%= f.label :remember_me do %>
                <%= f.check_box :remember_me %> <%= t('.remember_me', :default => "Manter logado") %>
              <% end %>
            </div>
          <% end %>
          <%= f.submit  t('.sign_in', :default => "Entrar"), class: "btn btn-primary" %>


        <% end %>
      </div>
      <div class="modal-footer">
        <p><strong>Ainda não é cadastrado?</strong></p>
        <p>Cadastre-se</p>
      </div>

    </div>
  </div>
</div>