<!DOCTYPE html>
<html>
<head>
  <title>Quintal de Trocas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= params[:controller] %> <%= params[:controller] %>-<%= params[:action] %> <%= 'home' if current_page?(root_url) %>">

  <%= render '/layouts/header' %>
  <%= render '/pages/intro' if current_page?(root_url) %>

  <% if content_for?(:subheader) %>
    <div class="sub-header">
      <div class="container">
        <%= yield :subheader %>
      </div>
    </div>
  <% end %>

  <div class="<%= 'container' if @bs_container.nil? || (@bs_container && @bs_container == true)  %>">
    
    <%= flash_messages %>

    <div class="page-content">
      <%= yield %>
    </div>
  </div>

  <%= render '/layouts/login_modal' if !current_user %>
  <%= render '/layouts/footer' %>

  <%= javascript_include_tag 'application' %>
  <%= yield :head %>

  <div id="check-login" class="hide"><%= user_signed_in? %></div>

  <script>
    $(function() {
    <% if !current_user %>
      $('.go-private').addClass('login-button');
    <% else %>
      logged = true
    <% end %>
  });
  </script>

  <%= render '/layouts/google_analytics' %>
</body>
</html>
