<!DOCTYPE html>
<html>
<head>
  <title>QuintalV2</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= params[:controller] %>">

  <%= render '/layouts/header' %>

  <div class="container">
    
    <%= flash_messages %>

    <%= yield %>
  </div>

  <%= render '/layouts/footer' %>

  <%= javascript_include_tag 'application' %>
</body>
</html>
